/* titillium-web-regular - latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: local(''), url('/fonts/titillium-web-v9-latin-regular.woff2') format('woff2');
}

/* titillium-web-700 - latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: local(''), url('/fonts/titillium-web-v9-latin-700.woff2') format('woff2');
}

:root {
  --prim: #5E81AC;
  --sec: #81A1C1;
  --tert: #88C0D0;
  --muted: #3a5978;
  --dark: #4C566A;
  --darker: #3B4252;
  --darkest: #2E3440;
  --light: #D8DEE9;
  --lighter: #E5E9F0;
  --lightest: #ECEFF4;
  /* --green: #A3BE8C; */
  --daintree: #021F2C;
  --blueGreen: #8fbcbb;
  --green: #408773;
  --red: #BF616A;
  --orange: #d08770;
  --yellow: #EBCB8B;
  --white: #fff;
  --black: #000;
  --font-sans: 'Titillium Web', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: 'Input Mono', 'JetBrains Mono', 'IBM Plex Mono', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --bg: var(--white);
  --bg-noise: url('/img/noise-light-32x32.png');
  --border: var(--light);
  --btnBg: var(--light);
  --btnText: var(--dark);
  --btnBgHover: var(--dark);
  --btnTextHover: var(--light);
  --btnThemeHover: var(--black);
  --cardBg: var(--lightest);
  --codeBg: var(--lightest);
  --contentLink: var(--prim);
  --contentLinkDecoration: var(--light);
  --contentLinkDecorationHover: var(--prim);
  --contentLinkHover: var(--dark);
  --footerBgDsktp: var(--daintree);
  --footerLinkHover: var(--lighter);
  --footerText: var(--dark);
  --footerTextDsktp: var(--light);
  --helloOpacity: 1;
  --highlight: var(--muted);
  --hr: var(--light);
  --likeLink: var(--dark);
  --likeLinkHover: var(--prim);
  --logoBg: var(--daintree);
  --logoLink: var(--dark);
  --navBtn: var(--dark);
  --navBtnHover: var(--prim);
  --navLink: var(--dark);
  --navLinkActive: var(--dark);
  --navLinkActiveAfter: var(--prim);
  --navLinkAfter: var(--light);
  --navLinkHover: var(--dark);
  --navMobileBg: var(--darkest);
  --navMobileBorder: var(--navMobileBg);
  --navMobileLink: var(--sec);
  --postImgOpacity: 1;
  --prismBg: #f5f7ff;
  --prismOpNumBool: #c76b29;
  --prismText: #5e6687;
  --quoteBg: var(--lightest);
  --selectionBg: var(--black);
  --selectionText: var(--white);
  --shadowColor: rgba(0,0,0,.075);
  --shadowMdHoverColor: rgba(0,0,0,.1);
  --text: var(--darkest);
  --textHeading: var(--dark);
  --textMuted: var(--muted);
  --textQuote: var(--darkest);
  --wave: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 2400 800'%3E%3Cg fill='%23021F2C' transform='matrix(1,0,0,1,6,380)'%3E%3Cpath d='M-10,10C63.51190476190476,10.416666666666666,197.91666666666666,15.333333333333332,342.85714285714283,12C487.79761904761904,8.666666666666668,542.8571428571429,-6.833333333333333,685.7142857142857,-6C828.5714285714284,-5.166666666666667,885.7142857142856,15.166666666666666,1028.5714285714284,16C1171.4285714285713,16.833333333333332,1228.5714285714284,-2.833333333333333,1371.4285714285713,-2C1514.2857142857142,-1.1666666666666667,1571.4285714285713,19.166666666666668,1714.2857142857142,20C1857.142857142857,20.833333333333332,1914.285714285714,1.1666666666666667,2057.142857142857,2C2199.9999999999995,2.833333333333333,2276.4880952380954,-58.91666666666666,2400,24C2523.5119047619046,106.91666666666666,3254.1666666666665,217.5,2650,400C2045.8333333333335,582.5,156.25,795.8333333333334,-500,900' transform='matrix(1,0,0,1,0,35)' opacity='NaN'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

[data-theme="dark"] {
  --black: #121212;
  /* --bg: var(--darker); */
  --bg: #232731;
  --bg-noise: url('/img/noise-light-32x32.png');
  --border: var(--dark);
  --btnBg: var(--black);
  --btnText: silver;
  --btnBgHover: var(--darkest);
  --btnTextHover: var(--yellow);
  --btnThemeHover: var(--yellow);
  --cardBg: var(--dark);
  --codeBg: var(--black);
  --contentLink: var(--light);
  --contentLinkDecoration: var(--prim);
  --contentLinkDecorationHover: var(--yellow);
  --contentLinkHover: var(--white);
  --footerBgDsktp: var(--black);
  --footerLinkHover: var(--yellow);
  --footerText: var(--light);
  --helloOpacity: .75;
  --highlight: var(--tert);
  --hr: var(--dark);
  --likeLink: grey;
  --likeLinkHover: var(--yellow);
  --logoBg: var(--black);
  --logoLink: silver;
  --navBtn: silver;
  --navBtnHover: var(--prim);
  --navLink: silver;
  --navLinkActive: var(--light);
  --navLinkActiveAfter: var(--prim);
  --navLinkAfter: var(--dark);
  --navLinkHover: var(--light);
  --navMobileBg: var(--black);
  --navMobileBorder: var(--border);
  --postImgOpacity: .85;
  --prismBg: var(--black);
  --prismOpNumBool: var(--red);
  --prismText: var(--light);
  --quoteBg: var(--black);
  --selectionBg: var(--light);
  --selectionText: var(--black);
  --shadowColor: rgba(240,240,240,.075);
  --shadowMdHoverColor: rgba(240,240,240,.25);
  --text: var(--lightest);
  --textHeading: silver;
  --textMuted: #ababab;
  --textQuote: var(--white);
  --wave: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 2400 800'%3E%3Cg fill='%23121212' transform='matrix(1,0,0,1,6,380)'%3E%3Cpath d='M-10,10C63.51190476190476,10.416666666666666,197.91666666666666,15.333333333333332,342.85714285714283,12C487.79761904761904,8.666666666666668,542.8571428571429,-6.833333333333333,685.7142857142857,-6C828.5714285714284,-5.166666666666667,885.7142857142856,15.166666666666666,1028.5714285714284,16C1171.4285714285713,16.833333333333332,1228.5714285714284,-2.833333333333333,1371.4285714285713,-2C1514.2857142857142,-1.1666666666666667,1571.4285714285713,19.166666666666668,1714.2857142857142,20C1857.142857142857,20.833333333333332,1914.285714285714,1.1666666666666667,2057.142857142857,2C2199.9999999999995,2.833333333333333,2276.4880952380954,-58.91666666666666,2400,24C2523.5119047619046,106.91666666666666,3254.1666666666665,217.5,2650,400C2045.8333333333335,582.5,156.25,795.8333333333334,-500,900' transform='matrix(1,0,0,1,0,35)' opacity='NaN'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

  .auto-invert {
    filter: grayscale(50%) invert(100%) brightness(95%) hue-rotate(180deg);
  }
}

/* BASIC PAGE STYLES */

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-size-adjust: none;
}

::selection,
::-moz-selection {
  background: var(--selectionBg);
  color: var(--selectionText);
}

html, body {
  height: 100%;
}

html {
  font-family: var(--font-sans);
  line-height: 1.15;
  scroll-padding-top: 1rem;

  &:has(.navTop.sticky) {
    scroll-padding-top: 5rem;
  }
}

body {
  background: linear-gradient(to right, transparent, var(--bg), transparent), var(--bg-noise) repeat, var(--bg);
  background-attachment: fixed;
  color: var(--text);
  display: flex;
  flex-direction: column;
  font-family: var(--font-sans);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .175px;
  line-height: 1.5;
  margin: 0;
  text-align: left;

  &:has(.navTop.sticky) {
    padding-top: 5.8rem;
  }
}

@media(min-width:1200px) {
  body {
    background: radial-gradient(circle, var(--bg) 50%, transparent), var(--bg-noise) repeat, var(--bg);
    background-attachment: fixed;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: var(--textHeading);
  font-weight: 700;
  letter-spacing: .5px;
  margin-bottom: .5rem;
}

h1, .h1 { font-size: 2rem; }
h2, .h2 { font-size: 1.75rem; }
h3, .h3 { font-size: 1.5rem; }
h4, .h4 { font-size: 1.25rem; }
h5, .h5 { font-size: 1.15rem; }
h6, .h6 { font-size: 1rem; }

.text-base {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: normal;
}

ol, ul, p, pre, code, kbd, samp {
  margin-bottom: 1rem;
}

a, a:active {
  color: var(--prim);
  font-weight: 700;
  letter-spacing: .5px;
  text-decoration: underline;
  transition: color .35s ease-in-out, text-decoration .35s ease-in-out;
}

a[href^="https://"].ext,
:is(.like) a[href^="https://"] {
  display: inline-block;

  &::after {
    --size: .875em;

    display: inline-block;
    content: "";
    color: var(--text);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%235E81AC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none' /%3E%3Cpath d='M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6' /%3E%3Cpath d='M11 13l9 -9' /%3E%3Cpath d='M15 4h5v5' /%3E%3C/svg%3E");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 2px;
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
  }
}

a:hover, a:focus {
  color: var(--prim);
  text-decoration: none;
}

pre, code, kbd, samp {
  font-family: var(--font-mono);
  font-size: .875rem;
  letter-spacing: 0;
}

pre {
  border-left: 4px solid var(--prim);
  overflow-x: auto;
  /* padding: 1rem; */
}

p code, li code {
  background-color: var(--codeBg);
  border-radius: .125rem;
  padding: .125rem .25rem;
}

code {
  word-break: break-word;
}

em,
.italic {
  /* font-style: italic; */
  color: var(--highlight);
}

b,
strong {
  color: var(--textHeading);
  font-weight: 700;
}

blockquote {
  /* background-color: var(--quoteBg); */
  border-left: 4px solid var(--prim);
  color: var(--textQuote);
  font-family: var(--font-sans);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.375;
  margin-bottom: 1rem;
  padding: 2rem 1.5rem 1rem 2.5rem;
  position: relative;

  &::before {
    font-family: Arial;
    content: '\201C';
    color: var(--sec);
    font-size: 4em;
    position: absolute;
    left: 12px;
    top: -8px;
  }

  p {
    margin: 0;
  }

  & small::before {
    content: '― ';
  }

  & a,
  & small {
    font-style: normal;
  }

  & code {
    background-color: var(--codeBg);
    font-size: inherit;
  }
}

hr {
  border-style: none;
  border-top: 1px solid var(--border);
  margin: 1rem 0;
}

.hr {
  background: linear-gradient(90deg, var(--bg), var(--hr), var(--bg));
  height: 1px;
  margin: 1rem 0;
}

ol, ul {
  padding-inline-start: 2rem;
}

ol {
  list-style: decimal;
}

ul {
  list-style-type: square;
}

li > ol,
li > ul {
  margin-bottom: 0;
}

.list-inline {
  list-style: none;
  padding-left: 0;
}

.list-inline-item {
  display: inline-block;
}

img {
  border-style: none;
  display: block;
}

.img-fluid {
  height: auto;
  max-width: 100%;
}

button {
  cursor: pointer;
  background-color: transparent;
  font-family: var(--font-sans);
  font-size: 1rem;
  border: 0;
  padding: 0;

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
}

main {
  flex: 1 0 auto;
}

/* CONTAINER */

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 0 1.5rem;
}

@media(min-width:768px) {
  .container {
    max-width: 85ch;
    padding: 0 2rem;
  }

  blockquote {
    font-size: 1.25rem;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    text-align: justify;
  }
}

@media(min-width:1280px) {
  .container {
    padding: 0;
  }

  .expand {
    margin: 0 -3rem;
  }

  .expand-xl {
    margin: 0 -5rem;
  }
}

/* NAV STYLES */

.navTop {
  border-bottom: 1px solid transparent;
  font-size: 1.15rem;
  margin-bottom: 2rem;
  /* transition: all .35s ease; */

  &.sticky {
    --borderRadius: .0rem;

    background: var(--bg);
    background: linear-gradient(to bottom, color-mix(in srgb, var(--cardBg), transparent 75%), var(--bg));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    border-color: var(--border);
    border-radius: var(--borderRadius);
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    /* margin: 1rem auto; */
    z-index: 50;

    & .logo {
      border-radius: var(--borderRadius);
    }
  }
}

.logo {
  background-color: transparent;
  transition: all .5s ease-in-out;

  &:hover {
    background-color: var(--logoBg);
  }

  & a {
    color: var(--logoLink);
    text-decoration: none;
  }

  &:hover a {
    color: var(--sec);
  }
}

.nav-link {
  color: var(--navLink);
  font-weight: 700;
  position: relative;
  text-decoration: none;

  &:hover {
    color: var(--navLinkHover);
  }

  &::after {
    background: var(--navLinkAfter);
    bottom: -1px;
    content: '';
    height: 3px;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: opacity .35s, transform .35s ease;
    transform: translateY(8px);
    width: 100%;
  }
}

.nav-link:hover::after,
.nav-link-active::after {
  opacity: 1;
  transform: translateY(0);
  transition: opacity .35s, transform .35s ease;
}

.nav-link-active::after {
  background: var(--navLinkActiveAfter);
}

.nav-link-active {
  color: var(--navLinkActive);
}

.nav-icon {
  color: var(--navBtn);

  &.nav-icon-active {
    color: var(--prim);
  }
}

.nav-rss {
  &:hover,
  &.nav-rss-active {
    color: var(--orange);
  }
}

.navMobile {
  background-color: var(--navMobileBg);
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  border-top: 1px solid var(--navMobileBorder);

  & .nav-mobile-icon {
    color: var(--navMobileLink);
    pointer-events: none;

    &.icon-active {
      /* opacity: 0.35; */
      color: var(--footerLinkHover);
    }
  }
}

/* FOOTER */

footer {
  color: var(--footerText);
  flex-shrink: 0;
  margin-top: 4rem;
  padding-top: 1rem;
  padding-bottom: 5rem;
  text-align: center;

  & a,
  & button {
    color: var(--footerText);
  }
}


footer a,
footer button {
  & .icon {
    opacity: 1;
    transition: opacity .25s ease;
  }

  &:hover .icon {
    opacity: .5;
  }
}

.footer-link {
  display: block;
}

@media(min-width:768px) {
  .wave {
    background-image: var(--wave);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 75px;
    margin-bottom: -1px; /* just in case */

  }

  body:not(:has(.home)) .wave {
    margin-top: 4rem;
  }

  footer {
    background-color: var(--footerBgDsktp);
    color: var(--footerTextDsktp);
    padding: 1rem;
    margin-top: 0;

    & a,
    & button {
      color: var(--sec);

      &:hover {
        color: var(--footerLinkHover);
      }
    }
  }
}

/* BUTTONS & COMPONENTS */

.btn,
.btn-pin,
.btn-theme-header {
  color: var(--btnText);
  background-color: transparent;
  border: 0;
  border-radius: 99999px;
  padding: 0;
  text-decoration: none;
}

.btn {
  background-color: var(--btnBg);
  box-shadow: 0 .125rem .25rem var(--shadowColor);
  padding: .5rem 1.5rem;
  font-weight: bold;

  &:active {
    text-decoration: none;
  }

  &:hover {
    background-color: var(--btnBgHover);
    box-shadow: none;
    color: var(--btnTextHover);
  }
}

.btn-pin {
  padding: .25rem;
  transform: rotate(35deg);

  &:active {
    transform: rotate(5deg);
    transition: transform .45s ease;
  }

  &:hover {
    color: var(--blueGreen);
  }

  &.pinned {
    background-color: color-mix(in srgb, var(--border), transparent 50%);
  }
}

.btn-theme-header:hover {
  color: var(--btnThemeHover);
}

.btn-muted,
.filter-btn {
  background-color: var(--bg);
  border: 1px solid var(--border);
  border-radius: .25rem;
  display: inline-block;
  color: var(--text);
  font-size: .875rem;
  padding: .2rem .5rem;

  &:hover {
    background-color: var(--border);
  }

  &.active,
  &.filter-btn__active {
    background-color: color-mix(in srgb, var(--yellow), transparent 10%);
    border-color: var(--yellow);
    box-shadow: none;
    color: var(--darkest);
  }
}

.card {
  display: block;
  background-color: var(--bg);
  background: linear-gradient(to bottom right, color-mix(in srgb, var(--cardBg), transparent 75%), var(--bg));
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid var(--border);
  height: 100%;
  padding: 2rem;
}

.icon {
  display: block;
}

.icon-rss {
  &:hover {
    color: var(--orange);
  }
}

.like-link {
  color: var(--likeLink);
  display: block;

  &:hover {
    color: var(--likeLinkHover) !important;
  }
}

.next-prev {
  font-size: .85rem;
}

.old-content-note {
  background: linear-gradient(to bottom right, color-mix(in srgb, var(--yellow), transparent 75%), var(--bg));
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 2px solid var(--yellow);
  font-size: 1.125rem;
  padding: 1.5rem;
  margin: 2rem 0;
}

.progress-bar {
  --barBorderRadius: 99999px;
  /* --barColor: #b48ead; */
  --barColor: var(--blueGreen);

  background-color: var(--border);
  background: linear-gradient(to bottom, var(--hr), var(--bg));
  border-radius: var(--barBorderRadius);
  position: fixed;
  top: 7.5rem;
  height: 256px;
  width: .125rem;
  margin-left: -5rem;

  & .progress-bar__inner {
    background-color: var(--barColor);
    background: linear-gradient(45deg, var(--barColor), color-mix(in srgb, var(--barColor), transparent 75%));
    border-radius: var(--barBorderRadius);
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
    transform: scaleY(0);
    transition: transform .35s ease-out;
  }

  &::after {
    --size: .5rem;

    display: block;
    border-radius: var(--barBorderRadius);
    background-color: var(--barColor);
    content: '';
    position: absolute;
    bottom: calc(var(--size) * -1);
    left: -3px;
    width: var(--size);
    height: var(--size);
    opacity: 0;
    transition: opacity .35s ease-out;
  }

  &.done::after {
    opacity: 1;
    /* transition: opacity .35s ease-out; */
  }
}

summary ::marker {
  color: var(--prim) !important;
}

summary h2 {
  display: list-item;
}

.tag {
  font-size: .875rem;

  & a {
    font-weight: 500;
  }
}

.u-photo {
  opacity: var(--helloOpacity);
  transition: transform ease-in-out 1s;

  &:hover {
    cursor: progress;
    transform: rotate3d(0,1,.05,180deg);
  }
}

.wsk-card {
  background-color: var(--bg);
  background: linear-gradient(to bottom right, color-mix(in srgb, var(--cardBg), transparent 75%), var(--bg));

  & summary {
    border: 1px solid var(--border);
    list-style: none;
    max-height: 140px;
    position: relative;
  }

  & summary::-webkit-details-marker {
    display: none;
  }

  & summary img {
    align-self: stretch;
    height: auto;
    max-height: 100%;
    max-width: 125px;
    object-fit: cover;
    filter: grayscale(.75);
    transition: filter .35s ease;
  }

  & summary:hover {
    cursor: pointer;

    & img {
      filter: grayscale(0);
    }
  }

  & .wsk-card__date-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--border);
    font-size: .875rem;
    line-height: 1;
    padding: .5rem;
  }

  & .wsk-card__inner {
    animation: fadeIn .75s linear forwards;
    border: 1px solid var(--border);
    border-top: 0;
    padding: 2rem 2rem 1rem;

    &:not(:has(div.post)) {
      padding: 2rem;
    }

    & img {
      border-radius: 1rem;
      max-height: 300px;
      max-width: 100%;
      width: 100%;
      object-fit: cover;

      &:hover {
        cursor: zoom-in;
      }
    }

    & .wsk-again,
    & .wsk-status {
      background-color: var(--border);
      border-radius: .25rem;
      font-size: .75rem;
      line-height: 1;
      margin-left: .25rem;
      padding: .125rem .5rem;

      &.closed,
      &.yes {
        background-color: var(--green);
        color: var(--white);
      }

      &.empty,
      &.no {
        background-color: var(--red);
        color: var(--white);
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* HOMEPAGE */

.home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 3rem;
  max-width: calc(100vw - 3rem);
}

.home-intro {
  order: 1;

  & p {
    padding: 0;
  }
}

.home-posts {
  order: 2;
}

.home-pages {
  order: 3;
}

.home-feeds {
  order: 4
}

@media(min-width:768px) {
  .home {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-flow: column;
    max-width: calc(100vw - 12vw);
    gap: 4rem;
    margin-bottom: 2rem;
  }

  .home-intro {
    grid-area: 1 / 1 / 2 / 1;

    & p {
      padding: 0;
    }
  }

  .home-posts {
    grid-area: 1 / 2 / 4 / 2;
  }

  .home-pages {
    grid-area: 2 / 1 / 6 / 1;
  }

  .home-feeds {
    grid-area: 4 / 2 / 6 / 2;
  }
}

@media(min-width:1024px) {
  .home-pages {
    grid-area: 2 / 1 / 3 / 1;
  }

  .home-feeds {
    grid-area: 3 / 1 / 4 / 1;
  }
}

@media(min-width:1280px) {
  .home {
    max-width: calc(100vw - 24vw);
  }
}

/* POST + clickable headings */

.post {
  line-height: 1.625;

  & a:is(.header-anchor) {
    color: inherit;
    display: inline;
    letter-spacing: inherit;
    text-decoration: none;

    &::after {
      content: '#';
      color: var(--textMuted);
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1em;
      font-style: italic;
      font-weight: normal;
      margin-left: .5rem;
      opacity: 0;
      transition: opacity .35s ease;
    }

    &:hover::after,
    &:focus::after {
      opacity: 1;
    }
  }

  & > *:last-child {
    margin-bottom: 0 !important;
  }

  & img {
    opacity: var(--postImgOpacity);
    margin: 1rem 0;
  }

  & ul:not(.list-reset) > li > a[href^="https://"] {
    /* fix bullet points stuck to bottom for multi-line list items */
    display: inline !important;
  }

  & #refs {
    padding-top: .5rem;
    border-top: 1px solid var(--border);
    margin-top: 1.5rem;
    width: 50%;
  }
}

.heading a,
.post a,
.tag a,
.link {
  color: var(--contentLink);
  text-decoration: underline;
  text-decoration-color: var(--contentLinkDecoration);
  text-decoration-thickness: 2px;
  transition: all .35s ease-in-out;

  &:hover {
    color: var(--contentLinkHover);
    text-decoration-color: var(--contentLinkDecorationHover);
    text-decoration-thickness: 2px;
  }
}

.heading a:active,
.post a:active {
  outline: 1px dashed var(--lightest);
}

/* TRANSITIONS */

a.btn:hover,
a.footer-link:hover,
a.logo-link:hover,
a.nav-link:hover,
button:hover,
summary:hover {
  transition: all .35s ease-in-out;
}

a.btn,
a.footer-link,
a.logo-link,
a.nav-link,
button,
summary {
  transition: transform .125s ease;
}

a.btn:active,
a.footer-link:active,
a.logo-link:active,
a.nav-icon:active,
a.nav-link:active,
button:active,
summary:active {
  transform: translateY(2px);
  transition: transform .125s ease;
}

* {
  transition: background .0s ease;
}

/* FIXES */

@supports (-webkit-touch-callout: none) {
  summary {
    list-style: none !important;
  }

  summary::marker,
  summary::-webkit-details-marker,
  summary ::marker,
  summary ::-webkit-details-marker {
    display: none !important;
  }

  summary h2 {
    display: block !important;
  }
}

/*
  hacky desktop safari `summary h2` fix
  src: https://wojtek.im/journal/targeting-safari-with-css-media-query
*/
@supports (hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none) {
  .navTop {
    &.sticky {
      background: color-mix(in srgb, var(--bg), transparent 75%);
    }
  }

  summary h2 {
    display: block !important;
  }
}
