:root {
  --prim:#5E81AC;
  --sec:#81A1C1;
  --tert:#88C0D0;
  --dark:#4C566A;
  --darker:#3B4252;
  --darkest:#2E3440;
  --light:#D8DEE9;
  --lighter:#E5E9F0;
  --lightest:#ECEFF4;
  --red:#BF616A;
  --yellow:#EBCB8B;
  --white: #fff;
  --black: #000;
  --font-sans: 'Titillium Web', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* titillium-web-regular - latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: local(''), url('/fonts/titillium-web-v9-latin-regular.woff2') format('woff2')
}
/* titillium-web-700 - latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: local(''), url('/fonts/titillium-web-v9-latin-700.woff2') format('woff2')
}

/* BASIC PAGE STYLES */

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*:hover {
  transition: all .35s ease-in-out;
}

::selection {
  background: var(--black);
  color: var(--white);
}

::-moz-selection {
  background: var(--black);
  color: var(--white);
}

html, body {
  height: 100%;
}

html {
  font-family: var(--font-sans);
  line-height: 1.15;
  scroll-padding-top: 1rem;
}

body {
  background-color: var(--white);
  color: var(--dark);
  display: flex;
  flex-direction: column;
  font-family: var(--font-sans);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .175px;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--dark);
  font-weight: 700;
  letter-spacing: .1rem;
  margin-bottom: .5rem;
}

h1, .h1 { font-size: 2rem; }
h2, .h2 { font-size: 1.75rem; }
h3, .h3 { font-size: 1.5rem; }
h4, .h4 { font-size: 1.25rem; }
h5, .h5 { font-size: 1.15rem; }
h6, .h6 { font-size: 1rem; }

.text-base {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: normal;
}

ol, ul, p, pre, code, kbd, samp {
  margin-bottom: 1rem;
}

a, a:active {
  color: var(--prim);
  font-weight: 700;
  letter-spacing: .8px;
  text-decoration: underline;
}

a:hover, a:focus {
  color: var(--prim);
  text-decoration: none;
}

pre, code, kbd, samp {
  font-family: var(--font-mono);
  font-size: .875rem;
}

pre {
  border-left: 4px solid var(--prim);
  overflow-x: auto;
  padding: 1rem;
}

p code, li code {
  background-color: var(--lightest);
  border-radius: .125rem;
  padding: .125rem .25rem;
}

code {
  word-break: break-word;
}

em,
.italic {
  font-style: italic;
}

strong {
  font-weight: 700;
}

blockquote {
  background-color: var(--lightest) ;
  border-left: 4px solid var(--prim);
  font-size: 1.25rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

blockquote p {
  margin: 0;
}

blockquote code {
  background-color: var(--light);
  font-size: inherit;
}

hr {
  border-style: none;
  border-top: 1px solid var(--light);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hr {
  background: linear-gradient(90deg,var(--white),var(--light),var(--white));
  height: 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

small {
  font-size: .75rem;
}

ol, ul {
  padding-inline-start: 40px;
}

ol {
  list-style: decimal;
}

ul {
  list-style-type: square;
}

li > ol,
li > ul {
  margin-bottom: 0;
}

.list-inline {
  list-style: none;
  padding-left: 0;
}

.list-inline-item {
  display: inline-block;
}

img {
  border-style: none;
  display: block;
}

.img-fluid {
  height: auto;
  max-width: 100%;
}

main {
  flex: 1 0 auto;
}

/* CONTAINER */

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 0 1rem;
}

@media(min-width:768px) {
  .container {
    max-width: 85ch;
    padding: 0 2rem;
  }
}

@media(min-width:1280px) {
  .container {
    padding: 0;
  }
  .expand {
    margin: 0 -3rem;
  }
  .expand-xl {
    margin: 0 -5rem;
  }
  .text-center-xl {
    text-align: center;
  }
}

.grid {
  display: grid;
}

.grid2 {
  grid-template-columns: 1fr;
}

.grid3 {
  grid-template-columns: 1fr 1fr;
}

.grid4 {
  grid-template-columns: 1fr 1fr;
}

.gap1 {
  grid-gap: 1rem;
}

@media(min-width:768px) {
  .grid2 {
    grid-template-columns: 1fr 1fr;
  }
  .grid3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .grid .first {
    grid-column-start: 1;
  }
  .grid .second {
    grid-column-start: 2;
  }
}

/* NAV STYLES */

.navTop {
  font-size: 1.15rem;
  margin-bottom: 2rem;
}

.logo {
  background-color: transparent;
}

.logo a {
  color: var(--dark);
  text-decoration: none;
}

.logo:hover {
  background-color: var(--dark);
}

.logo:hover a {
  color: var(--sec);
}

.nav-link {
  color: var(--dark);
  font-weight: 700;
  position: relative;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--dark);
}

.nav-link::after {
  background: var(--light);
  bottom: -1px;
  content: '';
  height: 3px;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity .35s, transform .35s ease;
  transform: translateY(8px);
  width: 100%;
}

.nav-link:hover::after,
.nav-link-active::after {
  opacity: 1;
  transform: translateY(0);
  transition: opacity .35s, transform .35s ease;
}

.nav-link-active::after {
  background: var(--prim);
}

/* POST + clickable headings */
.heading a,
.post a {
  text-decoration-color: var(--light);
  text-decoration-thickness: 2px;
}

.heading a:hover,
.post a:hover {
  color: var(--dark);
  text-decoration: underline;
  text-decoration-color: var(--prim);
  text-decoration-thickness: 2px;
}

.heading a:active,
.post a:active {
  outline: 1px dashed var(--lightest);
}

summary ::marker {
  color: var(--prim) !important;
}

/* FOOTER */

footer {
  color: var(--dark);
  flex-shrink: 0;
  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 5rem;
  text-align: center;
}

footer a {
  color: var(--dark);
}

footer a .icon {
  opacity: 1;
}

footer a:hover .icon {
  opacity: .5;
}

.footer-link {
  display: inline-block;
}

@media(min-width:768px) {
  footer {
    background-color: var(--darkest);
    color: var(--light);
    padding: 1rem;
  }
  footer a {
    color: var(--sec);
  }
  footer a:hover {
    color: var(--lighter);
  }
}

.navMobile {
  background-color: var(--darkest);
  bottom: 0;
  color: var(--light);
  left: 0;
  right: 0;
  position: fixed;
}

/* BUTTONS */

button {
  cursor: pointer;
  font-family: var(--font-sans);
  font-size: 1rem;
}

.btn {
  background-color: var(--light);
  border: 0;
  border-radius: 99999px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,0.075);
  color: var(--dark);
  font-weight: bold;
  padding: .5rem 1.5rem;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--dark);
  box-shadow: none;
  color: var(--light);
}

.next-prev {
  font-size: .85rem;
}

a.btn,
a.footer-link,
a.logo-link,
a.nav-link,
button,
summary {
  transition: all .35s ease-in-out, transform .125s ease;
}

a.btn:active,
a.footer-link:active,
a.logo-link:active,
a.nav-link:active,
button:active,
summary:active {
  transform: translateY(2px);
  transition: transform .125s ease;
}

@media screen and (prefers-reduced-motion: reduce) {
  *:active {
    transform: none;
  }
  
  *:hover {
    transition: all .0s ease-in-out;
  }
}

@media(max-width: 576px) {
  .hello {
    min-height: 80vh;
  }
}