/* FLEX */

.flex {
  display: flex !important;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.flex-shrink-1 {
  flex-shrink: 1 !important;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.grid {
  display: grid;

  & .first {
    order: 1;
  }

  & .second {
    order: 2;
  }
}

.grid2 {
  grid-template-columns: 1fr;
}

.grid3 {
  grid-template-columns: 1fr 1fr;
}

.grid4 {
  grid-template-columns: 1fr 1fr;
}

.gap1 {
  gap: 1rem;
}

.gap2 {
  gap: 2rem;
}

@media(min-width:768px) {
  .grid2 {
    grid-template-columns: 1fr 1fr;
  }

  .grid3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .grid {
    & .first-md {
      grid-column-start: 1;
      order: 1;
    }

    & .second-md {
      grid-column-start: 2;
      order: 2;
    }
  }

  .span2-md {
    grid-column: 1 / span 2;
  }

  .tight-md {
    line-height: 1;
  }
}

@media(min-width:1024px) {
  .grid2-lg {
    grid-template-columns: 1fr 1fr;
  }
}

/* DISPLAY */

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }

  .d-sm-inline {
    display: inline !important;
  }

  .d-sm-inline-block {
    display: inline-block !important;
  }

  .d-sm-block {
    display: block !important;
  }

  .d-sm-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .d-sm-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

/* SIZING */

.w100 {
    width: 100%;
}

.w75 {
    width: 75%;
}

.w50 {
    width: 50%;
}

.w25 {
    width: 25%;
}

@media (max-width: 767px) {
  .w100m {
    width: 100%;
  }

  .w75m {
    width: 75%;
  }

  .w50m {
    width: 50%;
  }

  .wrap-mobile {
    flex-wrap: wrap;
  }
}

/* OTHER */

.font-mono {
  font-family: var(--font-mono);
}

.text-prim,
.text-prim-hover:hover {
  color: var(--prim);
}

.text-sec {
  color: var(--sec);
}

.text-tert {
  color: var(--tert);
}

.text-dark {
  color: var(--dark);
}

.text-darker {
  color: var(--darker);
}

.text-darkest {
  color: var(--darkest);
}

.text-light {
  color: var(--light);
}

.text-muted {
  color: var(--textMuted);
}

.text-center {
  text-align: center;
}

@media(min-width:1280px) {
  .text-center-xl {
    text-align: center;
  }
}

.text-justify {
  text-align: justify;
}

@media (min-width: 576px) {
  .text-justify-lg {
    text-align: justify;
  }
}

.bold {
  font-weight: 700 !important;
}

.regular {
  font-weight: 400 !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.underline {
  text-decoration: underline !important;
}

.no-underline {
  text-decoration: none !important;
}

.large {
  font-size: 1.25rem;
}

.small {
  font-size: 0.75rem !important;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.circle {
  border-radius: 99999px;
}

.shadow {
  box-shadow: 0 .125rem .25rem var(--shadowColor);
}

.shadow-hover, .shadow-md-hover {
  transition: box-shadow .35s;
  transition-timing-function: ease !important;
}

.shadow-hover:hover {
  box-shadow: 0 .125rem .25rem var(--shadowColor);
}

.shadow-md-hover:hover {
  box-shadow: 0 .45rem .9rem var(--shadowMdHoverColor);
}

.p1 {
  padding: 1rem !important;
}

.px1 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.py1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.pr1 {
  padding-right: 1rem !important;
}

.pl1 {
  padding-left: 1rem !important;
}

.pt1 {
  padding-top: 1rem !important;
}

.pb1 {
  padding-bottom: 1rem !important;
}

.p2 {
  padding: 2rem !important;
}

.px2 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

@media (min-width: 576px) {
  .indent-2-md {
    padding-left: 2rem;
  }
}

@media (min-width: 1024px) {
  .d-lg-block {
    display: block !important;
  }

  .gap2-lg {
    gap: 2rem;
  }

  .indent-1-lg {
    padding-left: 1rem;

    &.indent-border-lg {
      border-left: 1px solid var(--border);
      padding: 1rem;
      padding-left: 2rem;
    }
  }
}

.m0 {
  margin: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mt1 {
  margin-top: 1rem !important;
}

.mr1 {
  margin-right: 1rem !important;
}

.ml1 {
  margin-left: 1rem !important;
}

.mx1 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.mb1 {
  margin-bottom: 1rem !important;
}

.mt2 {
  margin-top: 2rem !important;
}

.mb2 {
  margin-bottom: 2rem !important;
}

.mx-auto, .img-center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.hover-scale,
.hover-scale-sm {
  transform: scale(1);
  transition: transform .35s, box-shadow .35s;
  transition-timing-function: ease !important;
}

.hover-scale:hover {
  transform: scale(1.25);
}

.hover-scale-sm:hover {
  transform: scale(1.05);
}

.tight {
  line-height: 1;
}

.cap-first::first-letter {
  text-transform: capitalize;
}

.wrapper-link,
.wrapper-link:active,
.wrapper-link:hover {
  color: inherit;
  font-weight: normal;
  letter-spacing: inherit;
  text-decoration: none;
}

details[open] {
  &.details-scrollable {
    max-height: 350px;
    overflow-y: scroll;

    & summary {
      background: var(--bg);
      position: sticky;
      top: 0;
      box-shadow: 0 .125rem .25rem var(--shadowColor);
    }
  }
}
