---
title: Everything
parent: /everything/
permalink: /everything.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  {% include "feed.header.njk" %}
  {% if collections.all %}
    <updated>{{ collections.all | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  {% endif %}
  <id>https://ttntm.me/everything</id>
  {%- for item in collections.all | reverse -%}
    {% if item.data.inEverything %}
      {% set absoluteItemUrl %}
        {%- if item.url -%}
          {{ item.url | htmlBaseUrl(site.url) }}
        {%- else -%}
          https://ttntm.me/notes/#{{ item.data.weight }}
        {%- endif -%}
      {% endset %}
      <entry>
        <title>{{ item.data.title }}</title>
        {% if item.data.tags %}
          {% for tag in item.data.tags | sort %}
            <category term="{{ tag }}" />
          {% endfor %}
        {% endif %}
        <link href="{{ absoluteItemUrl }}"/>
        {% set updated = item.data.updated or item.date %}
        <updated>{{ updated | dateToRfc3339 }}</updated>
        <id>{{ absoluteItemUrl }}</id>
        <content type="html"><![CDATA[
          {% if item.data.tags %}
            {# only blog posts have images & tags #}
            {{ item.templateContent | transformWithHtmlBase(site.url) | safe }}
          {% else %}
            {# skip `transformWithHtmlBase` for everything else #}
            {{ item.templateContent | safe }}
          {% endif %}
        ]]></content>
      </entry>
    {% endif %}
  {%- endfor -%}
</feed>