---
title: Blog
parent: /blog/
permalink: /blog/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  {% include "feed.header.njk" %}
  {% if collections.blog %}
    <updated>{{ collections.blog | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  {% endif %}
  <id>https://ttntm.me/blog</id>
  {%- for item in collections.blog | reverse -%}
    {% set absolutePostUrl %}{{ item.url | url | htmlBaseUrl(site.url) }}{% endset %}
    <entry>
      <title>{{ item.data.title }}</title>
      {% for tag in item.data.tags | sort %}
        <category term="{{ tag }}" />
      {% endfor %}
      <link href="{{ absolutePostUrl }}"/>
      {% set updated = item.data.updated or item.date %}
      <updated>{{ updated | dateToRfc3339 }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content type="html"><![CDATA[
        {{ item.templateContent | transformWithHtmlBase(site.url) | safe }}
        {# {{ item.templateContent | safe }} #}
      ]]></content>
    </entry>
  {%- endfor -%}
</feed>