---
title: Likes
parent: /likes/
permalink: /likes/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  {% include "feed.header.njk" %}
  {% if collections.likes %}
    <updated>{{ collections.likes | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  {% endif %}
  <id>ttntm.me/likes</id>
  {%- for item in collections.likes | reverse -%}
    {% set absolutePostUrl %}{{ item.url | url | htmlBaseUrl(site.url) }}{% endset %}
    <entry>
      <title>{{ item.data.title }}</title>
      <link href="{{ absolutePostUrl }}"/>
      <updated>{{ item.date | dateToRfc3339 }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content type="html"><![CDATA[
        {{ item.templateContent | transformWithHtmlBase(site.url) | safe }}
      ]]></content>
    </entry>
  {%- endfor -%}
</feed>