<style>
  .kb-club a {
    color: #212121;
    font-weight: bold;
    letter-spacing: 0;
    padding: .25rem 0;
    text-decoration: none;
    transition: .4s;
  }

  .kb-club a:hover {
    background: #c8e6c9;
    text-decoration: none;
  }

  .kb-club-bg,
  .kb-club-no-bg {
    border: 2px solid #4caf50;
    padding: .25rem .5rem;
  }

  .kb-club-bg {
    background: #4caf50;
    color: #212121;
  }
</style>
<div class="kb-club small mb1">
  <a class="mb1" href="https://512kb.club" target="_blank" rel="noopener" style="border: 0;">
    <span class="kb-club-no-bg">512KB Club</span><span class="kb-club-bg">Green Team</span>
  </a>
</div>