{% for icon in site.social %}
  <a class="d-block no-underline" href="{{ icon.url }}" target="_blank" rel="noopener" style="padding: 1rem 1.5rem;">
    <img src="/img/icons/{{ icon.img }}" class="icon hover-scale" alt="{{ icon.title }}" title="{{ icon.title }}" width="32">
  </a>
{% endfor %}