<details class="mb2">
  <summary class="flex align-items-center" style="cursor: pointer;">
    <h2 class="h4">
      My PGP Key
    </h2>
  </summary>
  <p>
    Fingerprint: <code>A8BC EEE0 AF71 7E01 3D8A A2A7 0BC9 FFE9 639B AEC3</code>
  </p>
  <ul>
    <li>
      Key file: <a href="/publickey.ttntm@pm.me-a8bceee0af717e013d8aa2a70bc9ffe9639baec3.asc">publickey.ttntm@pm.me</a>
    </li>
    <li>
      Mirror: <a href="https://keys.openpgp.org/vks/v1/by-fingerprint/A8BCEEE0AF717E013D8AA2A70BC9FFE9639BAEC3" rel="noreferrer" target="_blank">keys.openpgp.org</a>
    </li>
  </ul>
</details>
