{%- for h in site.highlights -%}
  <div class="flex align-items-center pl1" style="padding-bottom: .5rem;">
    <img src="/img/icons/{{ h.img }}" alt="{{ h.title }}" width="28" style="margin: 2px 0;">
    <span class="d-block" style="padding-left: .5rem;">{{ h.title }}</span>
  </div>
{%- endfor -%}
