{%- for h in site.highlights -%}
  <li class="flex align-items-center" style="padding-bottom: .75rem;">
    <img src="/img/icons/{{ h.img }}"alt="{{ h.title }}" width="24">
    <span class="d-block px1">{{ h.title }}</span>
  </li>
{%- endfor -%}