{%- for h in site.highlights -%}
  <li class="flex align-items-center" style="gap: .5rem;">
    <img src="/img/icons/{{ h.img }}" alt="{{ h.title }}" width="28" style="margin: 2px 0;">
    <span class="d-block">{{ h.title }}</span>
  </li>
{%- endfor -%}
