<div id="highlights" class="grid grid2 gap1 mt2 mb2">
  <div>
    <h2 class="h4">Keep Reading</h2>
    <div class="px1">
      <ul class="p0 m0" style="padding-inline-start: 1rem;">
        <li style="padding-bottom: .375rem;">
          <a href="/likes/">/likes</a>:&nbsp;<span class="small">cool things I found on the internet</span>
        </li>
        <li style="padding-bottom: .375rem;">
          <a href="/notes/">/notes</a>:&nbsp;<span class="small">problems + solutions</span>
        </li>
        <li style="padding-bottom: .375rem;">
          <a href="/now/">/now</a>:&nbsp;<span class="small">what I'm (supposed to be…) doing now</span>
        </li>
        <li style="padding-bottom: .375rem;">
          <a href="/uses/">/uses</a>:&nbsp;<span class="small">hardware, software, etc. I currently use</span>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <h2 class="h4">Recently Enjoyed</h2>
    <div class="grid grid2">
      {%- include "about.highlights_inner.njk" -%}
    </div>
  </div>
</div>