<h2 class="h3 text-center">
  Tags
</h2>
<ul class="list-reset flex justify-content-center flex-wrap mb2" style="gap: .75rem;">
  {% for tag in collections.blog | getCollectionTags | sort %}
    <li class="tag">
      <a href="/tags/{{ tag | slugify }}/">
        <span>
          <span class="small">#</span>{{ tag }}
        </span>
      </a>
    </li>
  {% endfor %}
</ul>
