<ul class="d-none d-sm-block list-reset list-inline bold">
  <li class="d-none d-sm-inline-block list-inline-item px1">
    <a class="footer-link no-underline" href="/">Home</a>
  </li>
  <li class="list-inline-item px1">
    <a class="footer-link no-underline" href="/blog/">Blog</a>
  </li>
  <li class="list-inline-item px1">
    <a class="footer-link no-underline" href="/notes/">Notes</a>
  </li>
  <li class="list-inline-item px1">
    <a class="footer-link no-underline" href="/work/">Work</a>
  </li>
  <li class="list-inline-item px1">
    <a class="footer-link no-underline" href="/about/">About</a>
  </li>
</ul>
<ul class="list-reset list-inline small mt1 mb1">
  {% for icon in site.social %}
    <li class="list-inline-item px1">
      <a class="footer-link no-underline" href="{{ icon.url }}" target="_blank" rel="me noopener">
        <img src="/img/icons/{{ icon.img }}" class="icon" alt="{{ icon.title }}" title="{{ icon.title }}" width="20" height="20">
      </a>
    </li>
  {% endfor %}
  <li class="list-inline-item px1">
    <a class="footer-link no-underline" href="#top" aria-label="Back To Top">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#81a1c1" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <line x1="12" y1="4" x2="12" y2="14" />
        <line x1="12" y1="4" x2="16" y2="8" />
        <line x1="12" y1="4" x2="8" y2="8" />
        <line x1="4" y1="20" x2="20" y2="20" />
      </svg>
    </a>
  </li>
</ul>
<p class="small tight m0">&copy; {{ site.author }}, est. 2k18 | <a class="regular" href="/about/#license">License</a> | <a class="regular" href="/changelog/">Changelog</a>
