<ul class="d-none d-sm-block list-reset list-inline bold">
  <li class="d-none d-sm-inline-block list-inline-item px1">
    <a class="footer-link no-underline" href="/">Home</a>
  </li>
  <li class="list-inline-item px1">
    <a class="footer-link no-underline" href="/archive">Archive</a>
  </li>
  <li class="list-inline-item px1">
    <a class="footer-link no-underline" href="/about">About</a>
  </li>
  <li class="list-inline-item px1">
    <a class="footer-link no-underline" href="/work">Work</a>
  </li>
  <li class="list-inline-item px1">
    <a class="footer-link no-underline" href="/til">TIL</a>
  </li>
</ul>
<ul class="list-reset list-inline small mt1 mb1">
  {% for icon in site.social %}
    <li class="list-inline-item px1">
      <a class="footer-link no-underline" href="{{ icon.url }}" target="_blank" rel="noopener">
        <img src="/img/icons/{{ icon.img }}" class="icon hover-scale" alt="{{ icon.title }}" title="{{ icon.title }}" width="20">
      </a>
    </li>
  {% endfor %}
  <li class="list-inline-item px1">
    <a class="footer-link no-underline" href="#top">
      <img src="/img/icons/arrow-up.svg" class="icon hover-scale" alt="Back to top" title="Back to Top" width="20">
    </a>
  </li>
</ul>
<p class="small tight m0">&copy; {{ site.author }}, est. 2k18 - <a class="regular" href="/changelog">View Changelog</a>
