<nav class="navTop flex flex-row justify-content-between align-items-center">
  <div id="top" class="logo {{ 'h-card' if not isFront }}">
    <a href="/" class="d-block logo-link p1 u-url">[T]</a>
  </div>
  <span class="p-name d-none" style="pointer-events: none;">ttntm</span>
  <div class="flex align-items-center gap1 mr1">
    <a class="nav-link d-none d-sm-block {{ 'nav-link-active' if isBlogHome }}" href="/blog/">
      Blog
    </a>
    <a class="nav-link d-none d-sm-block {{ 'nav-link-active' if '/notes' in page.url and not '/blog/' in page.url }}" href="/notes/">
      Notes
    </a>
    <a class="nav-link d-none d-sm-block {{ 'nav-link-active' if '/work' in page.url and not '/blog/' in page.url }}" href="/work/">
      Work
    </a>
    <a class="nav-link d-none d-sm-block {{ 'nav-link-active' if '/about' in page.url and not '/blog/' in page.url }}" href="/about/">
      About
    </a>
    <span class="d-none d-sm-block" style="user-select: none;">|</span>
    <a class="nav-icon d-none d-sm-block regular {{ 'nav-icon-active' if '/sitemap' in page.url and not '/blog/' in page.url }}" href="/sitemap/" title="View Sitemap">
      <svg xmlns="http://www.w3.org/2000/svg" class="d-block" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="pointer-events: none;">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M3 15m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v2a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" />
        <path d="M15 15m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v2a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" />
        <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v2a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" />
        <path d="M6 15v-1a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v1" />
        <path d="M12 9l0 3" />
      </svg>
    </a>
    <button class="btn-theme btn-theme-header d-block regular hide-no-js" title="Change theme">
      <svg xmlns="http://www.w3.org/2000/svg" class="d-block" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"  style="opacity: .5; pointer-events: none;">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
      </svg>
    </button>
    <a class="nav-icon nav-rss d-none d-sm-block regular" href="/feeds/" title="RSS Feeds">
      <svg xmlns="http://www.w3.org/2000/svg" class="d-block" width="20" height="20" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="pointer-events: none;">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <circle cx="5" cy="19" r="1" />
        <path d="M4 4a16 16 0 0 1 16 16" />
        <path d="M4 11a9 9 0 0 1 9 9" />
      </svg>
    </a>
  </div>
</nav>
