<h2 class="tight-md m0">
  Recent Activity
</h2>
<div class="hr shadow mb2"></div>
<ul class="list-reset">
  {% for item in collections.all | reverse %}
    {% if item.data.inEverything and loop.index < 6 %}
      {%- set itemURL -%}
        {%- if item.url -%}
          {{ item.url }}
        {%- else -%}
          /notes/#{{ item.data.weight }}
        {%- endif -%}
      {%- endset -%}
      <li>
        {% include "activity.item.njk" %}
        <div class="hr shadow mt2 mb2"></div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
<div class="flex gap2">
  <a href="/everything/" class="d-inline-block btn cap-first">Show More</a>
</div>
