<h2 class="tight m0">
  Collections &amp; Pages
</h2>
<div class="hr shadow mb2"></div>
<ul class="list-reset grid grid2-lg gap1 mt2 mb2">
  {%- for r in site.readmore -%}
    <li class="d-block">
      <a class="card wrapper-link shadow-md-hover hover-scale-sm" href="{{ r.url }}">
        <h3 class="h6 heading link" style="">
          {{ r.title }}
        </h3>
        <p class="cap-first m0" style="font-size: .875rem;">
          {{ r.details }}.
        </p>
      </a>
    </li>
  {%- endfor -%}
</ul>
<p class="post m0">
  All regular pages on this website can be found listed in the <a href="/sitemap">Sitemap</a>.
</p>
