{% set previousPost = collections.blog | getPreviousCollectionItem(page) %}
{% set nextPost = collections.blog | getNextCollectionItem(page) %}
{% if previousPost or nextPost %}
  <section class="grid mt2">
    {% if previousPost %}
    <div class="shadow-md-hover next-prev p2" style="border: 1px solid var(--light)">
      <h3 class="h6 next-prev uppercase">Previous Post</h3>
      <h4 class="h6 heading mb1">
        <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
      </h4>
      <p class="m0">{{ previousPost.data.description }}</p>
    </div>
    {% endif %}
    {% if nextPost %}
      <div class="shadow-md-hover next-prev p2" style="border: 1px solid var(--light)">
        <h3 class="h6 next-prev uppercase">Next Post</h3>
        <h4 class="h6 heading mb1">
          <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
        </h4>
        <p class="m0">{{ nextPost.data.description }}</p>
      </div>
    {% endif %}
  </section>
{% endif %}