{% if post %}
  {% set currentPost = post %}
{% else %}
  {% set currentPost = collections.blog | getCollectionItem(page) %}
{% endif %}
<ul class="list-reset list-inline flex align-items-center" style="gap: .75rem;">
  <li class="list-inline-item sr-only">Tags:&nbsp;</li>
  {% for tag in currentPost.data.tags %}
    <li class="tag list-inline-item">
      <a href="/tags/{{ tag }}">
        <span class="small">#</span>{{ tag }}
      </a>
    </li>
  {% endfor %}
</ul>