<article>
  <h3 class="heading tight mb1"><a href="{{ post.url }}" class="lnk-underline">{{ post.data.title }}</a></h3>
  <p>{{ post.data.description }}</p>
  <p class="small text-dark m0">Published: {{ post.date | date('MMMM DD, YYYY') }}</p>
</article>