{% set previousPost = collections.blog | getPreviousCollectionItem(page) %}
{% set nextPost = collections.blog | getNextCollectionItem(page) %}
{% if previousPost or nextPost %}
  <section class="grid grid2 gap1 expand mt2">
    {% if previousPost %}
    <div class="card shadow-md-hover next-prev first">
      <h2 class="h6 next-prev uppercase tight">Previous Post</h3>
      <h3 class="h6 heading">
        <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
      </h3>
      <p class="m0">{{ previousPost.data.description }}</p>
    </div>
    {% endif %}
    {% if nextPost %}
      <div class="card shadow-md-hover next-prev second">
        <h2 class="h6 next-prev uppercase tight">Next Post</h3>
        <h3 class="h6 heading">
          <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
        </h3>
        <p class="m0">{{ nextPost.data.description }}</p>
      </div>
    {% endif %}
  </section>
{% endif %}
