<article class="shadow-md-hover hover-scale-sm p2" style="border: 1px solid var(--border);">
  <h3 class="h5">
    {{ item.title }}
  </h3>
  <p>{{ item.description }}</p>
  <div class="flex align-items-center justify-content-start">
    <a href="{{ item.url }}" class="d-inline-block" target="_blank" title="{{ item.url }}">Take me there</a>
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevrons-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <polyline points="7 7 12 12 7 17" />
      <polyline points="13 7 18 12 13 17" />
    </svg>
  </div>
</article>
