<style>
  .club {
    border: 2px solid var(--darkest);
    color: var(--text) !important;
    padding: .25rem .5rem;
    transition: .4s;

    &:hover {
      background: var(--dark);
      color: var(--light) !important;
    }
  }

  .green {
    border-color: var(--green);

    &:hover {
      background: var(--green);
      color: var(--black);
    }
  }
</style>
<ul class="flex flex-row flex-wrap align-items-center justify-content-center list-reset gap1 mt2 mb1">
  <li class="d-block">
    <a href="https://bukmark.club">
      <img class="d-block m0" src="/img/bc_button_member.png" width="88" height="31">
    </a>
  </li>
  <li class="d-block">
    <a class="club bold d-inline-block no-underline small" href="https://250kb.club">250kb Club</a>
  </li>
  <li class="d-block">
    <a class="club bold green d-inline-block no-underline small" href="https://512kb.club">512KB Club</a>
  </li>
  <li class="d-block">
    <a class="club bold d-inline-block no-underline small" href="https://1mb.club">1MB Club</a>
  </li>
  <li class="d-block">
    <a class="club bold d-inline-block no-underline small" href="https://darktheme.club">Darktheme Club</a>
  </li>
</ul>
