<ul class="list-reset flex flex-row flex-wrap align-items-center justify-content-center gap1 mb2">
  {% for item in site.buttons %}
  <li>
    <img class="m0" src="/img/88x31/{{ item }}" alt="{{ item }}" width="88" height="31" style="image-rendering: pixelated;" eleventy:ignore>
  </li>
  {% endfor %}
  <li>
    <a href="#license">
      <img class="m0" src="/img/by-nc-sa.png" alt="license" width="88" height="31" eleventy:ignore>
    </a>
  </li>
</ul>