<title>{{ site.feeds.title }} - {{ title }}</title>
<subtitle>{{ site.description }}</subtitle>
<link href="{{ site.url }}{{ permalink }}" rel="self" type="application/atom+xml" />
<link href="{{ site.url }}{{ parent }}" rel="alternate" type="text/html"/>
<author>
  <name>{{ site.feeds.title }}</name>
</author>