<h2 class="tight-md mb0">
  Tagged Content
</h2>
<div class="hr shadow mb2"></div>
<ul class="list-reset flex flex-wrap mb2" style="gap: 1rem 1.25rem;">
  {% include "components/tags.all.njk" %}
</ul>
