<a href="/blog/" class="d-inline-block btn cap-first"><span class="d-none d-sm-inline">View&nbsp;</span>all Posts</a>
<a href="/tags/" class="d-inline-block btn cap-first"><span class="d-none d-sm-inline">View&nbsp;</span>all Tags</a>
