{% if post %}
  {% set currentPost = post %}
{% else %}
  {% set currentPost = collections.blog | getCollectionItem(page) %}
{% endif %}
<article class="h-entry">
  {% if '/tags' in page.url %}<h2 class="heading h3">{% else %}<h3 class="heading">{% endif %}
    <a href="{{ currentPost.url }}" class="u-url p-name">{{ currentPost.data.title }}</a>
  {% if '/tags' in page.url %}</h2>{% else %}</h3>{% endif %}
  {% if currentPost.data.date %}
    <p class="small text-muted">
      Published: <time class="dt-published" datetime="{{ currentPost.data.date | date('YYYY-MM-DD') }}">{{ currentPost.data.date | date('MMMM DD, YYYY') }}</time>&nbsp;&nbsp;<span style="font-family: Arial, Helvetica, sans-serif;">&bull;</span>&nbsp;&nbsp;Reading time: {{ currentPost | readingTime }}
    </p>
  {% endif %}
  <p class="p-summary">
    {{ currentPost.data.description }}
  </p>
  {% include "components/tags.post.njk" %}
</article>
