{{ define "main" }}
{{ $pImg := .Resources.GetMatch "hero" }}
{{ $tsk := .Resources.GetMatch (printf "*%s*" "task") }}
{{ $base := .Site.BaseURL }}
	<div class="container">
		<div class="row mt-3">
			<div class="col">
				<h2>{{ .Title }}</h2>
			</div>
		</div>
		<div class="row my-2 mb-4">
			<div class="col">
			{{ with $pImg }}
				<img src="{{ $base }}/img/loading.svg" data-src="{{ $pImg.RelPermalink }}" class="img-lazy img-center img-fluid" alt="{{ .Title }}" style="border:1px solid #ddd;border-radius:5px;">
			{{ end }}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md">
				<h3>Project Info</h3>
				<div class="d-flex flex-column mb-3">
					{{ with .Params.client }}
					<div class="d-flex flex-row">
						<span class="d-inline-block w-25">Client:</span>
						<span class="d-inline-block w-75">{{ . }}</span>
					</div>
					{{ end }}
					{{ with .Params.pDate }}
					<div class="d-flex flex-row">
						<span class="d-inline-block w-25 caption">Date:</span>
						<span class="d-inline-block w-75 caption">{{ . }}</span>
					</div>
					{{ end }}
					{{ with .Params.scSubtitle }}
					<div class="d-flex flex-row">
						<span class="d-inline-block w-25 caption">Task:</span>
						<span class="d-inline-block w-75 caption">{{ . }}</span>
					</div>
					{{ end }}
					{{ with .Params.pUrl }}
					<div class="d-flex flex-row">
						<span class="d-inline-block w-25 caption">Link:</span>
						<span class="d-inline-block w-75 caption"><a href="{{ . }}" class="lnk-underline" target="_blank" rel="noopener">{{ . }}&nbsp;<i class="fas fa-external-link-alt fa-xs"></i></a></span>
					</div>
					{{ end }}
				</div>
			</div>
			<div class="col-sm-12 col-md">
			{{ with $tsk }}
				<h3>Project Description</h3>
				{{ .Content }}
			{{ end }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ .Content }}
			</div>
		</div>
		<div class="row mt-3 mb-4" style="border-top:1px solid #dfebed">
			<div class="col py-4">
				<a href="{{ .Site.BaseURL }}/projects" class="btn btn-primary px-5">All Projects</a>
			</div>
		</div>
	</div>
{{ end }}