<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'head.njk' %}
</head>
<body class="{{ 'h-card' if isFront }}">
  <header>
    {% include 'header.njk' %}
  </header>
  <main>
    {{ content | safe }}
  </main>
  <footer class="px1">
    {% include 'footer.njk' %}
  </footer>
  {% include 'nav.mobile.njk' %}
  {% set js %}
    {% include 'js/theme.js' %}
  {% endset %}
  <script>
    {{ js | jsmin | safe }}
  </script>
</body>
</html>