<!DOCTYPE html>
<html lang="en">
<head>
  {% include "components/head.njk" %}
</head>
<body class="{{ 'h-card' if isFront }}">
  <header id="top">
    {% include "components/header.njk" %}
  </header>
  <main class="mt2">
    {{ content | safe }}
  </main>
  <section class="wave"></section>
  <footer id="footer">
    {% include "components/footer.njk" %}
  </footer>
  {% include "components/nav.mobile.njk" %}
  {% set js %}
    {% include "js/useTheme.js" %}
  {% endset %}
  <script>
    {{ js | jsmin | safe }}
  </script>
</body>
</html>