---
layout: base.njk
---
<article class="container">
  <h1 class="h2 text-center tight">{{ title }}</h1>
  <p class="small text-center">
    Published: <time class="dt-published" datetime="{{ date | date('YYYY-MM-DD') }}">
      {{ date | date('MMMM DD, YYYY') }}
    </time>
  </p>
  <div class="hr shadow mt2 mb2"></div>
  <div class="post like">
    {{ content | safe }}
  </div>
  <div class="hr shadow mt2 mb2"></div>
  {% include "like.nextprev.njk" %}
  <div class="hr shadow mt2 mb2"></div>
  <div class="flex justify-content-center gap2">
    <a href="/likes/" class="d-inline-block btn cap-first">View all Likes</a>
  </div>
</article>
