---
layout: base.njk
---
<article class="container h-entry">
  <h1>{{ title }}</h1>
  <div class="grid d-sm-flex justify-content-between align-items-end gap1">
    <p class="small text-muted m0">
      Published: <time class="dt-published" datetime="{{ date | date('YYYY-MM-DD') }}">
        {{ date | date('MMMM DD, YYYY') }}
      </time>
    </p>
    {% include "components/page.mentions.njk" %}
  </div>
  <div class="hr shadow mt1 mb2"></div>
  <div class="post like">
    {{ content | safe }}
  </div>
  <div class="hr shadow mt2 mb2"></div>
  {% include "components/page.share.njk" %}
</article>
<section class="container">
  <div class="hr shadow mt2 mb2"></div>
  {% set previousLike = collections.likes | getPreviousCollectionItem(page) %}
  {% set nextLike = collections.likes | getNextCollectionItem(page) %}
  {% if previousLike or nextLike %}
    <section class="grid grid2 gap1 mt2">
      {% if previousLike %}
      <div class="card shadow-md-hover next-prev second first-md">
        <h2 class="h6 next-prev uppercase tight">Previous Entry</h3>
        <h3 class="h6 heading">
          <a href="{{ previousLike.url }}">{{ previousLike.data.title }}</a>
        </h3>
        <p class="m0">
          <time class="d-block regular small dt-published" datetime="{{ previousLike.date | date('YYYY-MM-DD') }}">{{ previousLike.date | date('MMM DD, YYYY') }}</time>
        </p>
      </div>
      {% endif %}
      {% if nextLike %}
        <div class="card shadow-md-hover next-prev first second-md">
          <h2 class="h6 next-prev uppercase tight">Next Entry</h3>
          <h3 class="h6 heading">
            <a href="{{ nextLike.url }}">{{ nextLike.data.title }}</a>
          </h3>
          <p class="m0">
            <time class="d-block regular small dt-published" datetime="{{ nextLike.date | date('YYYY-MM-DD') }}">{{ nextLike.date | date('MMM DD, YYYY') }}</time>
          </p>
        </div>
      {% endif %}
    </section>
  {% endif %}
  <div class="hr shadow mt2 mb2"></div>
  <div class="flex justify-content-center gap2">
    <a href="/likes/" class="d-inline-block btn cap-first">View all Likes</a>
  </div>
</section>
<script src="/js/post-utils.js"></script>
