---
layout: base.njk
---
<article id="content" class="container h-entry">
  <aside class="progress-bar hide-no-js d-none d-lg-block">
    <div class="progress-bar__inner"></div>
  </aside>
  <h1>{{ title }}</h1>
  <p class="text-muted" style="font-size: .875rem; margin-bottom: .5rem;">
    Published: <time class="dt-published" datetime="{{ date | date('YYYY-MM-DD') }}">{{ date | date('MMMM DD, YYYY') }}</time>&nbsp;&nbsp;<span style="font-family: Arial, Helvetica, sans-serif;">&bull;</span>&nbsp;&nbsp;Reading time: {{ content | readingTime }}
  </p>
  {% if updated %}
    <p class="text-muted" style="font-size: .875rem; margin-bottom: .5rem;">
      Last update: <time class="dt-published" datetime="{{ updated | date('YYYY-MM-DD') }}">{{ updated | date('MMMM DD, YYYY') }}</time>
    </p>
  {% endif %}
  {% include "post.tags.njk" %}
  <div class="hr shadow"></div>
  <div class="toc-wrapper mb1">
    <details>
      <summary class="flex align-items-center" style="cursor: pointer;">
        <h2 class="h5 m0">
          Table of Contents
        </h2>
      </summary>
      {{ content | toc | safe }}
    </details>
    <div class="hr shadow"></div>
  </div>
  {% oldContentNote date %}
  <div class="post">
    {{ content | safe }}
  </div>
  <div class="hr shadow mt2 mb2"></div>
  {% postReplyShare title %}
</article>
<section class="container">
  <div class="hr shadow mt2 mb2"></div>
  {% include "post.nextprev.njk" %}
  <div class="hr shadow mt2 mb2"></div>
  <div class="flex justify-content-center gap2">
    {% include "post.buttons.njk" %}
  </div>
</section>
{% set js %}
  {% include 'js/useCopyShare.js' %}
  {% include 'js/useProgress.js' %}
{% endset %}
<script>
  {{ js | jsmin | safe }}
</script>
