{{ define "main" }}
	<header class="container">
		<h1 class="text-darkest">{{ .Title }}</h1>
		<p class="small text-sec">Published {{ dateFormat (.Site.Params.DateForm) .Date }}, {{ .ReadingTime }} minute read</p>
		<div class="hr shadow"></div>
	</header>
	<article class="container">
		{{ .Content }}
		<section class="py1">
			<div class="hr shadow"></div>
      {{ partial "blog/tags.html" . }}
			<div class="hr shadow" style="margin-top: -0.5rem;"></div>
		</section>
	</article>
	<section class="container">
		<div class="flex flex-row justify-content-between py1">
			<div class="">
			{{ if .PrevInSection }}
				<a class="btn" href="{{ .PrevInSection.Permalink }}">Previous Post</a>
			{{ end }}
			</div>
			<div class="">
			{{ if .NextInSection }}
				<a class="btn" href="{{ .NextInSection.Permalink }}">Next Post</a>
			{{ end }}
			</div>
		</div>
		{{ partial "blog/comments.html" . }}
		{{ partial "blog/related.html" . }}
	</section>
{{ end }}