{{ define "main" }}
    <header class="container pb1">
        <h1 class="text-darkest m0">{{ .Title }}</h1>
        <div class="hr shadow"></div>
    </header>
    <section class="container">
        <div>
            {{ .Content }}
        </div>
        <div class="grid mt2">
            {{ $pj := .Resources.Match "projects/*" }}
            {{ range sort $pj ".Params.weight" "desc" }}
                <div class="shadow-md-hover p2" style="border: 1px solid var(--light)">
                    <h5 class="text-dark">{{ .Title }} <span class="text-prim regular">[{{ .Params.when }}]</span></h5>
                    <p>{{ .Description }}</p>
                    <a href="{{ .Params.cUrl }}" class="d-inline-block" target="_blank">Explore {{ .Title }}</a>
                </div>
            {{ end }}
        </div>
    </section>
{{ end }}