---
title: Albums
description: A list of albums that I don't want to forget about.
image: /img/record.jpg
layout: page.njk
permalink: /albums/index.html
imageHeaderSize: 125
---
<div class="grid grid2 gap2 mt2">
  <div>
    <img src="{{ image }}" class="img-center img-fluid m0" alt="A photo of a vinyl record">
  </div>
  <div>
    <p>
      This is my personal collection of albums that I don't want to forget about.
    </p>
    <p>
      The list follows a chronological order, and most of the listed records bring back memories of a specific point in time.
    </p>
    <p class="m0">
      Don't forget to explore the posts in the <a href="/tags/albums/">#albums</a> series if you like this list. They offer an annotated list of my favorites from various decades.
    </p>
  </div>
</div>
<div class="hr shadow mt2"></div>
<ul class="list-reset post">
  {% for item in albums %}
    <li>
      {% set released = ["Released: ", item.release] | join %}
      {% imageHeader item.cover, imageHeaderSize, "h3", item.title, released %}
    </li>
  {% endfor %}
</ul>
<div class="hr shadow mt2"></div>
<p class="m0">
  Inspired by <a class="ext" href="https://aksui.com/albums">Aksui's list of albums</a>
</p>
