---
title: Albums
description: A list of albums that I don't want to forget about.
image: /img/record.jpg
layout: page.njk
permalink: /albums/index.html
imageHeaderSize: 125
---
<div class="grid grid2 gap2 mt2">
  <div>
    <img src="/static/img/record.jpg" class="img-center img-fluid m0" alt="A photo of a vinyl record">
  </div>
  <div>
    <p>
      This is my personal collection of albums that I don't want to forget about. It follows a chronological order, and most of the listed records bring back memories of a specific point in time.
    </p>
    <p class="m0">
      Don't forget to explore the posts in the <a href="/tags/albums/">#albums</a> series while you're here. They offer an annotated list of my favorites from various decades.
    </p>
  </div>
</div>
<div class="hr shadow mt2"></div>
<div class="hide-no-js">
  <p class="h4 bold">Layout</p>
  <div class="flex align-items-center gap1 mb1">
    <button id="btn-list" class="d-inline-block btn-muted shadow active" disabled>Show List</button>
    <button id="btn-grid" class="d-inline-block btn-muted shadow">Show Grid</button>
  </div>
  <p class="h4 bold">Genre Filter</p>
  <ul class="filter-list list-reset flex flex-wrap align-items-center gap1 mt1 mb1">
    {% customFilter albums, "genre" %}
  </ul>
</div>
<ul id="albums" class="list-reset post">
  {% for item in albums %}
    <li class="album-listing" data-genre="{{ item.genre | slugify }}">
      {% set released = ["Released: ", item.release] | join %}
      {% set titleText = [item.title, " (", item.release, ")"] | join %}
      {% imageHeader item.cover, imageHeaderSize, "h3", titleText, released %}
    </li>
  {% endfor %}
</ul>
<script src="/js/collection-filter.js"></script>
{% set js %}
  {% include "js/albums.js" %}
{% endset %}
<script>
  {{ js | jsmin | safe }}
</script>
