---
title: Blog
description: All articles published on this website.
image: /img/blog/content.jpg
layout: base.njk
permalink: /blog/index.html
isBlogHome: true
---
<section class="container h-feed">
  {%- from 'macros/macro.headingRSS.njk' import header %}
  {{ header({ text: 'The Blog', link: '/blog/feed.xml', title: title }) }}
  <div class="hr shadow mb2"></div>
  <h2 class="h3 text-center">
    Explore
  </h2>
  <ul class="list-reset flex justify-content-center flex-wrap mb2" style="gap: .75rem;">
    {% for year, x in collections.postsByYear %}
      <li class="tag">
        <a href="#{{ year }}">{{ year }}</a> [{{ x.length }}]
      </li>
    {% endfor %}
  </ul>
  <ul class="list-reset flex justify-content-center flex-wrap" style="gap: .75rem; margin-bottom: 4rem;">
    {% for tag in collections.blog | getCollectionTags | sort %}
      <li class="tag">
        <a href="/tags/{{ tag | slugify }}/">
          <span class="small">#</span>{{ tag }}
        </a>
      </li>
    {% endfor %}
  </ul>
  {% for year, yearPosts in collections.postsByYear %}
    {% if not loop.first %}
      <div class="hr shadow mt2"></div>
      <p class="post small text-center mt1" style="margin-bottom: 4rem;">
        <a href="#top">↑&nbsp;Back to top</a>
      </p>
    {% endif %}
    <hgroup class="text-center">
      <h2 id="{{ year }}" class="tight {{ 'mt2' if not loop.first }}"><span style="font-weight: normal;">&lurdshar;</span>&nbsp;{{ year }}&nbsp;<span style="font-weight: normal;">&ldrushar;</span></h2>
      <p class="small">Posts published: {{ yearPosts.length }}</p>
    </hgroup>
    <div class="hr shadow mb2"></div>
    {% for post in yearPosts | reverse %}
      {% include "components/post.preview.njk" %}
      {% if not loop.last %}
        <div class="hr shadow mt2 mb2"></div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</section>