---
title: Bookmarks
description: A directory of websites that I find interesting and that I can recommend visiting.
image: /img/blog/map.png
layout: page.njk
permalink: /bookmarks/index.html
---
<div class="grid grid2 gap2 mt2">
  <div>
    <img src="/img/blog/map.jpg" class="img-center img-fluid m0" alt="A photo of an old map">
  </div>
  <div>
    <p>
      This is my personal collection of bookmarks that you can think of as my very own <em>treasure map</em> (a term I borrowed from <a class="ext" href="https://flower.codes/links.html">Zach</a>). It's a small directory of blogs, resources and websites that I find interesting and that I can recommend visiting. Articles and other recent discoveries can be found in my <a href="/likes/">/likes collection</a>.
    </p>
    <p class="bold m0">
      Have fun exploring :D
    </p>
  </div>
</div>
<div class="hr shadow mt2"></div>
<details>
  <summary class="flex align-items-center" style="cursor: pointer;">
    <h2 class="h5 m0">
      Categories
    </h2>
  </summary>
  <ul class="list-reset px1 mb2" style="margin-top: .5rem;">
    {%- for item in bookmarks -%}
      <li>
        <a href="#{{ item.title | slugify }}">{{ item.title }}</a>
      </li>
    {%- endfor -%}
  </ul>
</details>
<div class="hr shadow mb2"></div>
{%- for item in bookmarks -%}
  <article class="h-entry">
    <h2 id="{{ item.title | slugify }}" class="h5 d-sm-inline-flex">
      <span style="margin-right: .5rem;"><a id="{{ item.data.title | slugify }}" href="#{{ item.title | slugify }}" class="no-underline u-url" style="border: 0;">#</a></span><span class="p-name">{{ item.title }}</span>
    </h2>
    <p>
      {{ item.description }}
    </p>
    {% if loop.first %}
      <p>
        Download this list: <a href="/blogroll.opml">OPML Blogroll</a>
      </p>
    {% endif %}
    <ul class="list-reset post e-content indent-1-lg">
      {% for link in item.data %}
        <li>
          <p {% if loop.last %} class="m0"{%- endif -%}>
            <a class="ext" href="{{ link.url }}">{{ link.title }}</a>{% if link.feed %}&nbsp;&nbsp;|&nbsp;&nbsp;<a class="ext" href="{{ link.feed }}" style="font-size: .875rem; font-weight: 500;">(RSS)</a>{% endif %}
            {% if link.description %}
              <br>
              &ndash;&nbsp;{{ link.description }}
            {% endif %}
          </p>
        </li>
      {% endfor %}
    </ul>
    {# {% if not loop.last %} #}
      <div class="hr shadow mt2 mb2"></div>
    {# {% endif %} #}
  </article>
{%- endfor -%}
<div class="text-center">
  <h2>More Sites Like This?</h2>
  <p>Explore the Wayward Web, a collection of personal guides to the human side of the Web.</p>
  <div class="flex align-items-center justify-content-center gap1">
    <a href="https://waywardweb.org/sites/ttntm.me/previous">&larr;<!-- left arrow --></a>
    <a href="https://waywardweb.org">The Wayward Webring</a>
    <a href="https://waywardweb.org/sites/ttntm.me/next">&rarr;<!-- right arrow --></a>
  </div>
</div>
