---
title: Bookmarks
description: A directory of websites that I find interesting and that I can recommend visiting.
image: /img/blog/map.png
layout: page.njk
permalink: /bookmarks/index.html
---
<div class="grid grid2 gap2 mt2">
  <div>
    <img src="/static/img/blog/map.jpg" class="img-center img-fluid m0" alt="A photo of an old map">
  </div>
  <div class="content-center">
    <p>
      This is my personal collection of bookmarks that you can think of as my very own <em>treasure map</em> - a small directory of blogs, resources and websites that I find interesting and that I recommend visiting.
    </p>
    <p class="bold m0">
      Have fun exploring :D
    </p>
  </div>
</div>
<div class="hr shadow mt2"></div>
<details>
  <summary class="flex align-items-center" style="cursor: pointer;">
    <h2 class="h5 m0">
      Categories
    </h2>
  </summary>
  <ul class="list-reset px1 mb2" style="margin-top: .5rem;">
    {%- for item in bookmarks -%}
      <li>
        <a href="#{{ item.title | slugify }}">{{ item.title }}</a>
      </li>
    {%- endfor -%}
  </ul>
</details>
<div class="hr shadow mb2"></div>
{%- for item in bookmarks -%}
  <article class="h-entry">
    {% set categoryId = item.title | slugify %}
    <h2 id="{{ categoryId }}" class="h3" tabindex="-1">
      <a class="header-anchor int" href="#{{ categoryId }}"><span class="p-name">{{ item.title }}</span></a>
    </h2>
    <p>
      {{ item.description }}
    </p>
    {% if loop.first %}
      <p>
        Download this list: <a href="/blogroll.opml" rel="nofollow">OPML Blogroll</a>
      </p>
    {% endif %}
    <ul class="list-reset post e-content indent-1-lg">
      {% for link in item.data %}
        <li>
          <p {% if loop.last %} class="m0"{%- endif -%}>
            <a class="ext" href="{{ link.url }}" rel="noopener nofollow">{{ link.title }}</a>{% if link.feed %}&nbsp;|&nbsp;<a class="ext" href="{{ link.feed }}" rel="noopener nofollow" style="font-size: .875rem; font-weight: 500;">RSS</a>{% endif %}
            {% if link.description %}
              <br>
              <span class="d-inline-block small" style="padding-left: .5rem;">&ndash;&nbsp;{{ link.description }}</span>
            {% endif %}
          </p>
        </li>
      {% endfor %}
    </ul>
    {# {% if not loop.last %} #}
      <div class="hr shadow mt2 mb2"></div>
    {# {% endif %} #}
  </article>
{%- endfor -%}
<div class="text-center">
  <h2>More Sites Like This?</h2>
  <p>Explore the Wayward Web, a collection of personal guides to the human side of the Web.</p>
  <div class="flex bold align-items-center justify-content-center gap1">
    <a href="https://waywardweb.org/sites/ttntm.me/previous" rel="noopener nofollow">&larr;<!-- left arrow --></a>
    <a href="https://waywardweb.org" rel="noopener nofollow">The Wayward Webring</a>
    <a href="https://waywardweb.org/sites/ttntm.me/next" rel="noopener nofollow">&rarr;<!-- right arrow --></a>
  </div>
</div>
