---
title: Everything
description: A list of every Blog Post, Like and Note published on this website.
layout: base.njk
permalink: /everything/index.html
---
<section class="container h-feed">
  {%- from 'macros/macro.headingRSS.njk' import header %}
  {{ header({ text: title, link: '/everything.xml', title: title }) }}
  <div class="hr shadow mb2"></div>
  <p class="p-summary">
    {{ description }}
  </p>
  <ul class="list-reset">
    {% for item in collections.all | reverse %}
      {% if item.data.inEverything %}
        {%- set itemURL -%}
          {%- if item.url -%}
            {{ item.url }}
          {%- else -%}
            /notes/#{{ item.data.weight }}
          {%- endif -%}
        {%- endset -%}
        <li class="h-entry">
          <div class="hr shadow mt2 mb2"></div>
          {% include "components/activity.item.njk" %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>
