---
title: Feeds
description: A list of the feeds published on this website.
image: /img/blog/content.jpg
layout: page.njk
permalink: /feeds/index.html
---
<p class="">
  This website offers the following feeds:
</p>
<ul class="list-reset grid grid2 gap1">
  {% for item in site.feeds.data %}
    <li class="py1">
      <h2 class="h4 tight">{{ item.name }}</h2>
      <ul>
        <li>
          HTML: <a href="{{ item.page }}">ttntm.me{{ item.page }}</a>
        </li>
        <li>
          RSS: <a href="{{ item.link }}" rel="nofollow">ttntm.me{{ item.link }}</a>
        </li>
      </ul>
    </li>
  {% endfor %}
</ul>
