---
title: Feeds
description: A list of the feeds published on this website.
image: /img/blog/content.jpg
layout: page.njk
permalink: /feeds/index.html
---
<p class="">These feeds are published on this website:</p>
<ul class="list-reset">
  {% for item in site.feeds %}
    <li class="py1">
      <h2 class="h4 tight">{{ item.name }}</h2>
      <ul>
        <li>
          HTML: <a href="{{ item.page }}">ttntm.me{{ item.page }}</a>
        </li>
        <li>
          RSS: <a href="{{ item.link }}">ttntm.me{{ item.link }}</a>
        </li>
      </ul>
    </li>
  {% endfor %}
</ul>
