---
title: Links
description: A list of places on the internet that I can be found at.
image: /img/blog/content.jpg
layout: links.njk
permalink: /links/index.html
---
<section class="container w100 align-self-center text-center post">
  <h1 class="p-name tight">
    {{ title }}
  </h1>
  <p>
    This is a list of places on the internet that I can be found at.
  </p>
  <div class="hr shadow"></div>
  <ul class="list-reset grid grid2 gap1 mt2">
    {% for item in links %}
      <li class="d-block">
        <a class="card w100 u-url p-name like-link flex align-items-center justify-content-center shadow-md-hover hover-scale-sm no-underline py1" href="{{ item.url }}">
          <span class="d-block">{{ item.name }}</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevrons-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <polyline points="7 7 12 12 7 17" />
            <polyline points="13 7 18 12 13 17" />
          </svg>
        </a>
      </li>
    {% endfor %}
  </ul>
  <div class="hr shadow mt2 mb2"></div>
  <p class="text-center small m0">Links <em>do not</em> open in new tabs.</p>
</section>
