---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - blog
    - games
    - likes
    - likesByYear
    - notes
    - postsByYear
    - then
    - whisky
layout: base.njk
eleventyComputed:
  title: 'Posts Tagged "{{ tag }}"'
permalink: /tags/{{ tag | slugify }}/
eleventyExcludeFromCollections: true
---
<section class="container">
  <h1 class="h2">
    {{ title }}
  </h1>
  <p class="m0">
    {{ tagData[ tag ] }}
  </p>
  <div class="hr shadow mb2"></div>
  {% for post in collections[ tag ] | reverse %}
    {% include "components/post.preview.njk" %}
    <div class="hr shadow mt2 mb2"></div>
  {% endfor %}
  <div class="flex gap2">
    <a href="/blog/" class="d-inline-block btn cap-first"><span class="d-none d-sm-inline">View&nbsp;</span>all Posts</a>
    <a href="/tags/" class="d-inline-block btn cap-first"><span class="d-none d-sm-inline">View&nbsp;</span>all Tags</a>
  </div>
</section>
