---
title: Projects
description: A list of projects I worked on over the years.
layout: page.njk
permalink: /projects/index.html
---
<p>
  {{ description }}
</p>
<details class="mt1">
  <summary class="flex align-items-center" style="cursor: pointer;">
    <h2 class="h5 m0">
      Categories
    </h2>
  </summary>
  <ul class="list-reset px1 mb2" style="margin-top: .5rem;">
    {%- for item in projects -%}
      <li>
        <a href="#{{ item.title | slugify }}">{{ item.title }}</a>
      </li>
    {%- endfor -%}
    <li>
      <a href="#clients">Clients</a>
    </li>
  </ul>
</details>
<div class="hr shadow mb2"></div>
{% for category in projects %}
  <article class="h-entry">
    {% set categoryId = category.title | slugify %}
    <h2 id="{{ categoryId }}" class="h3" tabindex="-1">
      <a class="header-anchor int" href="#{{ categoryId }}"><span class="p-name">{{ category.title }}</span></a>
    </h2>
    <p class="m0">
      {{ category.description }}
    </p>
    <ul class="list-reset indent-1-lg">
      {% set webLinkName = "View Project" %}
      {% if category.title != "FOSS" %}
        {% set webLinkName = "View Demo" %}
      {% endif %}
      {% for project in category.data %}
        <li class="py1">
          <h3 class="h4 tight">{{ project.title }}</h3>
          {% if project.status %}
            {% if project.status == 1 %}
              {% set statusText = 'active' %}
            {% endif %}
            {% if project.status == 2 %}
              {% set statusText = 'finished' %}
            {% endif %}
            {% if project.status == 3 %}
              {% set statusText = 'abandoned' %}
            {% endif %}
            <p class="small" style="margin-bottom: .5rem;">
              Status: <span class="status-badge {{ statusText }}">{{ statusText }}</span>
            </p>
          {% endif %}
          <p class="m0">
            {{ project.description }}
          </p>
          {% if project.articles %}
            <p class="mb0" style="margin-top: .75rem;">
              Read about this project:
            </p>
            <ul>
              {% for item in project.articles %}
                <li>
                  <a href="{{ item.url }}">{{ item.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if project.source or project.web %}
            <ul class="list-reset flex gap1" style="border-top: 1px solid var(--border); margin-top: .75rem; padding-top: .25rem; width: fit-content;">
              {% if project.source %}
                <li>
                  <a class="ext" href="{{ project.source }}">Browse Code</a>
                </li>
              {% endif %}
              {% if project.web %}
                <li>
                  <a class="ext" href="{{ project.web }}">{{ webLinkName }}</a>
                </li>
              {% endif %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <div class="hr shadow mt1 mb2"></div>
  </article>
{% endfor %}
<article class="h-entry">
  <h2 id="clients" class="h3" tabindex="-1">
    <a class="header-anchor int" href="#clients"><span class="p-name">Client Projects</span></a>
  </h2>
  <p>
    Too many over the years, <a href="/hello/">contact me</a> if you're curious.
  </p>
  <p class="m0">
    Some notes about things I did at work can be found in the <a href="/tags/recap/">#recap</a> series.
  </p>
</article>
