---
title: Sitemap
description: This page lists all regular pages on this website.
image: /img/blog/sitemap.png
layout: page.njk
permalink: /sitemap/index.html
eleventyExcludeFromCollections: true
---
<p>
  {{ description }}
</p>
<p>
  Collection items - Blog Posts, Likes and Notes - can be found listed on their respective collection list page and in the feed of <a href="/everything/">/everything</a>.
</p>
<div class="hr shadow mt2"></div>
<h2>All Pages</h2>
<ul>
  {% for item in collections.all | sortByText('title') %}
    {% if item.data.isRegularPage %}
      <li>
        <p>
          <a href="{{ item.url }}">{{ item.data.title }}</a>
          {% if item.data.description %}
            <br>
            {{ item.data.description }}
          {% endif %}
        </p>
      </li>
    {% endif %}
  {% endfor %}
</ul>
