---
title: All Tags
description: A list of all the tags assigned to blog posts on this website.
image: /img/blog/content.jpg
layout: base.njk
permalink: /tags/
---
<section class="container h-feed text-center">
  <h1 class="p-name tight-md m0">
    {{ title }}
  </h1>
  <div class="hr shadow mt1 mb2"></div>
  <ul class="list-reset grid grid3 gap1 post mt2">
    {% for tag in collections.blog | getCollectionTags | sort %}
      <li class="d-block">
        <a class="card w100 u-url p-name like-link shadow-md-hover hover-scale-sm no-underline py1" href="/tags/{{ tag | slugify }}/">
          <span>
            <span class="small">#</span>{{ tag }}
          </span>
        </a>
      </li>
    {% endfor %}
  </ul>
  <div class="hr shadow mt2 mb2"></div>
  <a href="/blog/" class="d-inline-block btn">View all Posts</a>
</section>
