---
title: All Tags
description: A list of all tags assigned to blog posts.
image: /img/blog/content.jpg
layout: page.njk
permalink: /tags/
---
<ul class="list-reset grid grid2 gap1">
  {% for tag in collections.blog | getCollectionTags | sort %}
    <li>
      <p class="m0">
        <a href="/tags/{{ tag | slugify }}/">#{{ tag }}</a>
        <br>
        <span class="d-inline-block small" style="padding-left: .5rem;">&ndash;&nbsp;{{ tagData[ tag ] }}</span>
      </p>
    </li>
  {% endfor %}
</ul>
<div class="hr shadow mt2 mb2"></div>
<div class="text-center">
  <a href="/blog/" class="d-inline-block btn">View all Posts</a>
</div>
