---
title: Whisky
description: My Whisky journal.
image: /img/whisky.jpg
layout: base.njk
permalink: /whisky/index.html
---
<section class="container">
  <h1 class="tight">{{ title }}</h1>
  <div class="hr shadow"></div>
  <div class="post">
    <p>
      I like drinking Whisky, and this is my personal Whisky journal.
    </p>
    <p>
      The "Scotch Log" section lists what I'm drinking at the moment and what I drank in the past, following a rough chronological order. When expanded, the listings offer some more information about the respective Whisky, which sometimes also includes my thoughts and tasting notes.
    </p>
    <p>
      There's also a <a href="#wishlist">Wishlist</a> at the bottom of the page, so I don't forget what I want to try next.
    </p>
  </div>
  <section class="mt2">
    <h2 id="log" class="tight">Scotch Log</h2>
    <div class="hr shadow"></div>
    <div>
      <p class="h4 bold">Select Region</p>
      <ul class="filter-list list-reset flex flex-wrap align-items-center gap1 mt1 mb1">
        {% customFilter collections.whisky, "region", "status", "wanted" %}
      </ul>
    </div>
    {% for item in collections.whisky | sortByOrder | reverse %}
      {% if item.data.status != "wanted" %}
        {% include "wsk.card.njk" %}
      {% endif %}
    {% endfor %}
  </section>
  <section>
    <h2 id="wishlist" class="tight mt2">Wishlist</h2>
    <div class="hr shadow"></div>
    {% for item in collections.whisky | sortByOrder %}
      {% if item.data.status == "wanted" %}
        {% include "wsk.card.njk" %}
      {% endif %}
    {% endfor %}
  </section>
</section>
{% set js %}
  {% include 'js/filter.whisky.js' %}
{% endset %}
<script>
  {{ js | jsmin | safe }}
</script>
