---
title: Whisky
description: My Whisky journal.
image: /img/whisky.jpg
layout: base.njk
permalink: /whisky/index.html
---
<section class="container">
  <h1 class="tight-md">{{ title }}</h1>
  <div class="hr shadow"></div>
  <div class="post">
    <p>
      I like drinking Whisky, and this is my personal Whisky journal.
    </p>
    <p>
      The "Scotch Log" section lists what I'm drinking at the moment and what I drank in the past, following a rough chronological order. When expanded, the listings offer some more information about the respective Whisky, which sometimes also includes my thoughts and tasting notes.
    </p>
    <p>
      There's also a <a href="#wishlist">Wishlist</a> at the bottom of the page, so I don't forget what I want to try next.
    </p>
  </div>
  <section class="mt2">
    <div class="flex flex-row justify-content-between align-items-center tight-md gap1">
      <h2 id="log" class="m0">Scotch Log</h2>
      <button id="btn-expand" class="btn-muted shadow hide-no-js">Expand All</button>
    </div>
    <div class="hr shadow"></div>
    <div class="hide-no-js">
      <p class="h4 bold">Select Region</p>
      <ul class="filter-list list-reset flex flex-wrap align-items-center gap1 mt1 mb1">
        {% customFilter collections.whisky, "region", "status", "wanted" %}
      </ul>
    </div>
    {% for item in collections.whisky | sortByOrder | reverse %}
      {% if item.data.status != "wanted" %}
        {% include "components/wsk.card.njk" %}
      {% endif %}
    {% endfor %}
  </section>
  <section class="mt2">
    <h2 id="wishlist" class="tight">Wishlist</h2>
    <div class="hr shadow"></div>
    {% for item in collections.whisky | sortByText('name') %}
      {% if item.data.status == "wanted" %}
        {% include "components/wsk.card.njk" %}
      {% endif %}
    {% endfor %}
  </section>
</section>

<style>
  .wsk-card {
    background-color: var(--bg);
    background: linear-gradient(to bottom right, color-mix(in srgb, var(--cardBg), transparent 75%), var(--bg));

    & summary {
      border: 1px solid var(--border);
      list-style: none;
      max-height: 140px;
      position: relative;
    }

    & summary::-webkit-details-marker {
      display: none;
    }

    & summary img,
    & summary picture {
      align-self: stretch;
      filter: grayscale(.75);
      height: auto;
      max-height: 100%;
      max-width: 125px;
      object-fit: cover;
      transition: filter .35s ease;
    }

    & summary:hover {
      cursor: pointer;

      & img {
        filter: grayscale(0);
      }
    }

    & .wsk-card__date-badge {
      background-color: var(--border);
      font-size: .875rem;
      line-height: 1;
      padding: .5rem;
      position: absolute;
      right: 0;
      top: 0;
    }

    &:not([open]) .wsk-card__inner {
      animation: fadeOut .75s linear forwards;
    }

    & .wsk-card__inner {
      animation: fadeIn .75s linear forwards;
      border: 1px solid var(--border);
      border-top: 0;
      padding: 2rem;

      &:not(:has(div.post)) {
        padding: 2rem;
      }

      & img {
        border-radius: 1rem;
        max-height: 300px;
        max-width: 100%;
        object-fit: cover;
        width: 100%;

        &:hover {
          cursor: zoom-in;
        }
      }
    }
  }

  article:last-of-type {
    padding-bottom: 0 !important;
  }

  #wishlist {
    margin-top: 4rem;
  }
</style>

<script src="/js/collection-filter.js"></script>
{% set js %}
  {% include "js/whisky.js" %}
{% endset %}
<script>
  {{ js | jsmin | safe }}
</script>
