---
title: Things I Did
description: A list of various projects I worked on over the years.
layout: page.njk
permalink: /work/index.html
---
<details>
  <summary class="flex align-items-center" style="cursor: pointer;">
    <h2 class="h5 m0">
      Categories
    </h2>
  </summary>
  <ul class="list-reset px1 mb2" style="margin-top: .5rem;">
    {%- for item in projects -%}
      <li>
        <a href="#{{ item.title | slugify }}">{{ item.title }}</a>
      </li>
    {%- endfor -%}
    <li>
      <a href="#client-projects">Client Projects</a>
    </li>
  </ul>
</details>
<div class="hr shadow mb2"></div>
{% for item in projects %}
  <article class="h-entry">
    <h2 id="{{ item.title | slugify }}" class="h5 d-sm-inline-flex">
      <span style="margin-right: .5rem;"><a id="{{ item.title | slugify }}" href="#{{ item.title | slugify }}" class="no-underline u-url" style="border: 0;">#</a></span><span class="p-name">{{ item.title }}</span>
    </h2>
    <p class="m0">
      {{ item.description }}
    </p>
    <ul class="list-reset indent-1-lg">
      {% set webLinkName = "View Project" %}
      {% if item.title != "FOSS" %}
        {% set webLinkName = "View Demo" %}
      {% endif %}
      {% for entry in item.data %}
        <li class="py1">
          <h3 class="h4 tight">{{ entry.title }}</h3>
          <p style="margin-bottom: .75rem;">
            {{ entry.description }}
            {% if entry.article %}
              <br>
              Read about this project: <a href="{{ entry.article.url }}">{{ entry.article.title }}</a>
            {% endif %}
          </p>
          <ul class="list-reset flex gap1 m0" style="border-top: 1px solid var(--border); padding-top: .25rem; width: fit-content;">
            <li>
              <a href="{{ entry.source }}" rel="noreferrer" target="_blank">Browse Code</a>
            </li>
            {% if entry.web %}
              <li>
                <a href="{{ entry.web }}">{{ webLinkName }}</a>
              </li>
            {% endif %}
          </ul>
        </li>
      {% endfor %}
    </ul>
    <div class="hr shadow mt1 mb2"></div>
  </article>
{% endfor %}
<article class="h-entry">
  <h2 id="client-projects" class="h5 d-sm-inline-flex">
    <span style="margin-right: .5rem;"><a id="client-projects" href="#client-projects" class="no-underline u-url" style="border: 0;">#</a></span><span class="p-name">Client Projects</span>
  </h2>
  <p class="">
    Too many over the years, <a href="mailto:ttntm@pm.me?subject=Client projects">email me</a> if you're curious.
  </p>
  <p class="">
    Some notes about things I did at work can be found in the <a href="/tags/recap/">About the Past Year</a> series.
  </p>
</article>
