@media (prefers-color-scheme: dark) {
  :root {
    --black: #121212;
    --bg: var(--darker);
    --border: var(--dark);
    --btnBg: var(--black);
    --btnText: silver;
    --btnBgHover: var(--darkest);
    --btnTextHover: var(--yellow);
    --codeBg: var(--black);
    --contentLink: var(--light);
    --contentLinkDecoration: var(--prim);
    --contentLinkDecorationHover: var(--yellow);
    --contentLinkHover: var(--white);
    --footerBgDsktp: var(--black);
    --footerLinkHover: var(--yellow);
    --footerText: var(--light);
    --helloOpacity: .75;
    --hr: var(--dark);
    --likeLink: grey;
    --likeLinkHover: var(--yellow);
    --logoBg: var(--black);
    --logoLink: silver;
    --navBtn: silver;
    --navBtnHover: var(--prim);
    --navLink: silver;
    --navLinkActive: var(--light);
    --navLinkActiveAfter: var(--prim);
    --navLinkAfter: var(--dark);
    --navLinkHover: var(--light);
    --navMobileBg: var(--black);
    --postImgOpacity: .85;
    --prismBg: var(--black);
    --prismOpNumBool: var(--red);
    --prismText: var(--light);
    --quoteBg: var(--black);
    --selectionBg: var(--light);
    --selectionText: var(--black);
    --shadowColor: rgba(240,240,240,.075);
    --shadowMdHoverColor: rgba(240,240,240,.25);
    --text: var(--lightest);
    --textHeading: silver;
    --textMuted: #ababab;
    --textQuote: var(--white);
  }
}
