<meta charset="utf-8">
<link rel="preload" href="/css/page.css" as="style">
<link rel="preload" href="/js/particles.min.js" as="script">
<link rel="preconnect" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
<link rel="preconnect" href="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
<link rel="preconnect" href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
<link rel="preconnect" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js">
<link rel="preload" href="https://fonts.gstatic.com/s/nunito/v9/XRXV3I6Li01BKofINeaB.woff2" as="font" crossorigin="anonymous">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="{{ .Site.Params.author }}">
<meta name="robots" content="index,follow">
{{- if eq .Type "post" -}}
{{ with .Params }}
<meta name="description" content="{{- $.Param "description" -}}">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@thet0m">
<meta name="twitter:creator" content="@thet0m">
<meta name="twitter:title" content="{{- $.Param "title" -}}">
<meta name="twitter:description" content="{{- $.Param "description" -}}">
<meta name="twitter:image" content="{{- $.Param "tw-image" -}}">
{{- end -}}
{{ else }}
<meta name="description" content="{{ .Site.Params.description }}">
{{ end }}
<base href="{{ .Site.BaseURL }}">
<title>{{ if .IsHome }}{{ .Site.Params.Title }}{{ else }}{{ .Title }} | {{ .Site.Params.author }}{{ end }}</title>
<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
<link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#343a40">
<link rel="stylesheet" href="/css/page.css">
{{ "<!--[if lt IE 9]>" | safeHTML }}
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
{{ "<![endif]-->" | safeHTML }}
<style>
/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/nunito/v9/XRXV3I6Li01BKofINeaB.woff2') format('woff2');
}
body {
    font-family: 'Nunito', sans-serif;
}
</style>
<script src="/js/particles.min.js"></script>