<header class="container px-0">
	<a id="top"></a><!-- TOP anchor -->
	<nav class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand" href="{{ .Site.BaseURL }}"><strong class="text-wide">ttntm.me</strong></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
		<div class="collapse navbar-collapse justify-content-center" id="navbarMain">
			<div class="navbar-nav">
					<a class="nav-link underline {{ if eq .Title "Posts" }}active{{ else }}{{- end -}}" href="/blog">
						<span class="text-wide px-3 mx-3">Blog</span>
					</a>
					{{ if eq .Site.Params.showProjects "true" }}<a class="nav-link underline {{ if eq .Title "Projects" }}active{{ else }}{{- end -}}" href="{{ .Site.BaseURL }}/projects">
						<span class="text-wide px-3 mx-3">Projects</span>
					</a>{{ end }}
					<!-- <a class="nav-link underline {{ if eq .Title "About" }}active{{ else }}{{- end -}}" href="{{ .Site.BaseURL }}/about">
						<span class="text-wide px-3 mx-3">About</span>
					</a> -->
					<a class="nav-link underline {{ if eq .Title "Contact me" }}active{{ else }}{{- end -}}" href="{{ .Site.BaseURL }}/contact">
						<span class="text-wide px-3 mx-3">Contact</span>
					</a>
			</div>
		</div>
		{{ range .Site.Params.social }}
		<a class="text-blue d-none d-lg-block ml-3" href="{{ .url }}" title="{{ .title }}" rel="noopener" target="_blank"><i class="fab fa-{{ .icon }}"></i></a>
		{{ end }}
		<a class="text-blue d-none d-lg-block ml-3" href="{{ .Site.BaseURL}}/feed.xml" title="Subscribe to RSS feed" rel="noopener" target="_blank"><i class="fas fa-rss"></i></a>
	</nav>
</header>