<nav class="flex flex-row justify-content-between align-items-center">
  <div class="logo">
    <a href="{{ .Site.BaseURL }}" class="d-block p1">ttntm.me</a>
  </div>
  <div class="">
    <ul class="nav-links list-reset list-inline uppercase">
      <li class="d-none d-sm-inline-block list-inline-item pr1">
        <a href="{{ .Site.BaseURL }}">Home</a>
      </li>
      <li class="list-inline-item pr1">
        <a href="{{ .Site.BaseURL }}/archive">Archive</a>
      </li>
      <li class="d-none d-sm-inline-block list-inline-item pr1">
        <a href="{{ .Site.BaseURL }}/til">TIL</a>
      </li>
      <li class="list-inline-item pr1">
        <a href="{{ .Site.BaseURL }}/about">About</a>
      </li>
    </ul>
  </div>
</nav>