{{ $scImg := .Resources.GetMatch "hero" }}
<div class="img-container m-0 p-0 shadow-sm">
    <a class="" href="{{ .Permalink }}" aria-label="{{ .Title }}">
    <img src="{{ .Site.BaseURL }}/img/loading.svg" data-src="{{ $scImg.RelPermalink }}" class="img-lazy img-center img-fluid img-showcase" alt="{{ .Title }}">
    <div class="overlay d-flex flex-column align-items-center justify-content-center">
        <h3 class="link-overlay text-wide"><i class="fas fa-expand">&nbsp;&nbsp;</i>{{ .Title }}</h3>
        <p class="text-blue text-wide">{{ .Params.scSubtitle }}</p>
    </div>
    </a>
</div>