<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"><!-- Custom Icons -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
<script>
    // lazy load images
	window.addEventListener('load', function() {
        for (var t = document.getElementsByClassName('img-lazy'), n = 0; n < t.length; n++)
            t[n].getAttribute('data-src') && t[n].setAttribute('src', t[n].getAttribute('data-src'));
    }, !1);

    $(document).ready(function(){
        // $('[data-toggle="tooltip"]').tooltip();
        var btn = $('.navbar-toggler');
        var icon = $('.navbar-toggler-icon');
        var navParent = $('.navbar');
        let shadow = 'shadow-sm'

        btn.click(function() {
            if (navParent.hasClass(shadow)) {
                navParent.removeClass(shadow);
            } else {
                navParent.addClass(shadow);
            }
        });

        $('a.page-scroll').each(function(){
            $(this).click(function(){
                $('html,body').animate({ scrollTop: 0 }, 'slow');
                return false;
            });
        });

        console.log('Check the repo here: https://github.com/ttntm/ttntm');
    });

    // uncrypt mailto
    function UnCryptMailto(t){for(var n=0,o="",r=0;r<t.length;r++)8364<=(n=t.charCodeAt(r))&&(n=128),o+=String.fromCharCode(n-1);return o}function linkTo_UnCryptMailto(t){location.href=UnCryptMailto(t)}
</script>