<section class="navMobile d-sm-none">
  <nav class="flex align-items-center justify-content-around">
    <a class="d-block p1 mr1" href="{{ .Site.BaseURL }}">
      <img src="{{ .Site.BaseURL }}/img/icons/home.svg" width="20" height="20" alt="RSS Feed Icon">
    </a>
    <a class="d-block p1 mr1" href="{{ .Site.BaseURL }}/archive">
      <img src="{{ .Site.BaseURL }}/img/icons/archive.svg" width="20" height="20" alt="RSS Feed Icon">
    </a>
    <a class="d-block p1 mr1" href="{{ .Site.BaseURL }}/about">
      <img src="{{ .Site.BaseURL }}/img/icons/user.svg" width="20" height="20" alt="RSS Feed Icon">
    </a>
    <a class="d-block p1 mr1" href="{{ .Site.BaseURL }}/work">
      <img src="{{ .Site.BaseURL }}/img/icons/work.svg" width="20" height="20" alt="RSS Feed Icon">
    </a>
    <a class="d-block p1" href="{{ .Site.BaseURL }}/til">
      <img src="{{ .Site.BaseURL }}/img/icons/notes.svg" width="20" height="20" alt="RSS Feed Icon">
    </a>
  </nav>
</section>



