<section class="navMobile d-sm-none">
  {{ $cp := . }}
  {{ $about := .Site.GetPage "/about" }}
  {{ $archive := .Site.GetPage "/blog" }}
  {{ $til := .Site.GetPage "/til" }}
  {{ $work := .Site.GetPage "/work" }}
  <nav class="flex align-items-center justify-content-around">
    <a class="d-block p1 mr1" href="{{ .Site.BaseURL }}">
      <img class='{{ if .IsHome }}icon-active{{ else }}{{ end }}' src="{{ .Site.BaseURL }}/img/icons/home.svg" width="20" height="20" alt="Home Icon">
    </a>
    <a class="d-block p1 mr1" href="{{ .Site.BaseURL }}/archive">
      <img class='{{ if eq $cp $archive }}icon-active{{ else }}{{ end }}' src="{{ .Site.BaseURL }}/img/icons/archive.svg" width="20" height="20" alt="Archive Icon">
    </a>
    <a class="d-block p1 mr1" href="{{ .Site.BaseURL }}/about">
      <img class='{{ if eq $cp $about }}icon-active{{ else }}{{ end }}' src="{{ .Site.BaseURL }}/img/icons/user.svg" width="20" height="20" alt="About Icon">
    </a>
    <a class="d-block p1 mr1" href="{{ .Site.BaseURL }}/work">
      <img class='{{ if eq $cp $work }}icon-active{{ else }}{{ end }}' src="{{ .Site.BaseURL }}/img/icons/work.svg" width="20" height="20" alt="Work Icon">
    </a>
    <a class="d-block p1" href="{{ .Site.BaseURL }}/til">
      <img class='{{ if eq $cp $til }}icon-active{{ else }}{{ end }}' src="{{ .Site.BaseURL }}/img/icons/notes.svg" width="20" height="20" alt="TIL Icon">
    </a>
  </nav>
</section>



