		<div class="row mt-3 mb-5">
			<div class="col-6 mt-3 align-self-left text-left">
			{{ if .PrevInSection }}
				<a class="btn btn-primary px-3" href="{{ .PrevInSection.Permalink }}"><i class="fas fa-angle-double-left fa-xs"></i>&nbsp;&nbsp;Previous Post</a>
			{{ end }}
			</div>
			<!--div class="col-4 mt-3 align-self-center text-center">
				<a href="/post" class="d-none d-md-block">Show all Blog Posts</a>
			</div-->
			<div class="col-6 mt-3 align-self-right text-right">
			{{ if .NextInSection }}
				<a class="btn btn-primary px-3" href="{{ .NextInSection.Permalink }}">Next Post&nbsp;&nbsp;<i class="fas fa-angle-double-right fa-xs"></i></a>
			{{ end }}
			</div>
		</div>