	<div class="container">
		<div class="row mt-3"><!-- BLOG ROW -->
			<div class="col">
				<h2 class="text-dark">Recent Posts</h2>
			</div>
			<div class="w-100"></div>
			<div class="col-sm-12 col-md">
				<ul class="list-unstyled">
					{{ partial "home/recent-posts.html" . }}
				</ul>
			</div>
			{{ if gt (len ( where .Data.Pages "Section" "post")) 5 }}
			<div class="w-100"></div>
			<div class="col mb-3 text-center">
				<hr class="mb-4 shadow-sm">
				<a href="/post" class="my-3 btn btn-primary px-5">Show all Blog Posts</a>
			</div>
			{{ end }}
		</div><!-- END BLOG ROW -->
		{{ if eq .Site.Params.showProjects "true" }}
		<div class="row mb-3"><!-- PROJECTS ROW -->
			<div class="col">
				<h2>Recent Projects</h2>
			</div>
			<div class="w-100"></div>
				{{ partial "home/recent-projects.html" . }}
			{{ if gt (len ( where .Data.Pages "Section" "projects")) 2 }}
			<div class="w-100"></div>
			<div class="col mt-3 text-center">
				<hr class="mb-4 shadow-sm">
				<a href="/projects" class="my-3 btn btn-primary px-5">Show all Projects</a>
			</div>
			{{ end }}
		</div><!-- END PROJECTS ROW -->
		{{ end }}
	</div>