<div class="container">
	<div class="row"><!-- PROJECTS ROWS -->
		<div class="col">
			<h2>Projects</h2>
		</div>
	</div>
	<div class="row">
		{{ partial "home/recent-projects.html" . }}
	</div>
	{{ if gt (len ( where .Site.Pages "Section" "projects")) 4 }}
		<div class="row">
			<div class="col mt-3 text-center">
				<div class="w-100 mb-3" style="border-top: 1px solid var(--tertiary);"></div>
				<a href="/projects" class="my-3 btn btn-primary px-5">Show all Projects</a>
			</div>
		</div>
	{{ end }}<!-- END PROJECTS ROWS -->
	<div class="row mt-5"><!-- BLOG ROWS -->
		<div class="col">
			<h2 class="text-dark">Recent Posts</h2>
		</div>
	</div>
	<div class="row mb-3">
		{{ partial "home/recent-posts.html" . }}
	</div>
	{{ if gt (len ( where .Site.Pages "Section" "blog")) 4 }}
		<div class="row mb-3">
			<div class="col mb-3 text-center">
				<div class="w-100 mb-3" style="border-top: 1px solid var(--tertiary);"></div>
				<a href="/blog" class="my-3 btn btn-primary px-5">Show all Blog Posts</a>
			</div>
		</div>
	{{ end }}<!-- END BLOG ROWS -->
</div>