{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ partial "particles.html" . }}
<!-- add title for taxonomy lists here somehow -->
	<div class="container">
		<div class="row my-3">
		{{ if eq .Kind "taxonomy" }}
			<div class="col-sm-12 col-md-12 mb-3 text-center" style="border-bottom:1px solid #eee">
				<h1 class="pb-3">{{ .Title }}</h1>
			</div>
		{{ else }}
			<div class="col-sm-12 col-md-12 mb-3 text-center" style="border-bottom:1px solid #eee">
				<h1 class="pb-3">Archive</h1>
			</div>
		{{ end }}
		{{ range (.Paginator 6).Pages }}
			<div class="col-sm-12 col-md-6 my-4">
				{{ if isset .Params "image" }}
					<!--a href="{{ .Permalink }}"><img class="img-fluid mb-3" src="/img/blog/{{ .Params.image }}.jpg"></a-->
				{{ end }}
				{{ if isset .Params "date" }}
					<h5 class="text-secondary">{{ dateFormat (.Site.Params.DateForm) .Date }}</h5>
				{{ end }}
					<h2 class="text-primary"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
					<p>{{ .Summary }} [...]</p>
					<hr>
					<a class="btn btn-outline-secondary shadow-sm px-4" href="{{ .Permalink }}">Read More...</a>
			</div>
		{{ end }}
		</div>
		<div class="row">
			<div class="col">
				{{ partial "blog/pagination.html" . }}
			</div>
		</div>
	</div>
{{ partial "footer.html" . }}