{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ partial "particles.html" . }}
    <section class="pb-4">
        <div class="container">
            <div class="row">
                <div class="col py-3">
                    {{ .Content }}
                </div>
            </div>
        {{ if eq .Title "About" }}
            <div class="row">
                {{ partialCached "home/contact.html" . }}
            </div>
        {{ end }}
            </div>
        </div>
    </section>
{{ partialCached "footer.html" . }}