---
layout: base.njk
permalink: /404.html
excludeFromSitemap: true
eleventyExcludeFromCollections: true
---
<section class="flex" style="height: 100%;">
  <div class="align-self-center justify-content-center align-items-center text-center px1 mx-auto">
    <h1 class="h2 text-sec">404</h1>
    <h2 class="h1 mb2">Woohoo, you've found the secret page 🎉</h2>
    <p id="cat" class="text-center mt2 mb0">
      <img class="mx-auto" src="/img/404_cat.gif" title="Meow!">
    </p>
    <div class="hr shadow mb2" style="margin-top: 0;"></div>
    <a href="/" class="d-inline-block btn">Try Again</a>
  </div>
</section>