---
layout: base.njk
permalink: /404.html
---
<section class="flex" style="height: 100%;">
  <div class="align-self-center justify-content-center align-items-center text-center px1 mx-auto">
    <h1 class="h2 text-sec">404</h1>
    <h2 class="h1 mb2">Woohoo, you've found the secret page 🎉</h2>
    <a href="/" class="d-inline-block btn">Go Home</a>
  </div>
</section>