---
title: Blog
description: All articles published on this site.
layout: base.njk
permalink: /blog/index.html
isBlogHome: true
eleventyExcludeFromCollections: true
---
<section class="container h-feed">
  {%- from 'macro.headerRSS.njk' import header %}
  {{ header({ text: 'The Blog', link: '/feed.xml' }) }}
  <div class="hr shadow mb2"></div>
  {% include "archive.tags.njk" %}
  {% for year, yearPosts in collections.postsByYear %}
    <hgroup class="text-center">
      <h2 class="tight {{ 'mt2' if not loop.first }}">&bull;&nbsp;{{ year }}&nbsp;&bull;</h2>
      <p class="small">Posts published: {{ yearPosts.length }}</p>
    </hgroup>
    <div class="hr shadow mb2"></div>
    {% for post in yearPosts | reverse %}
      {% include "post.preview.njk" %}
      {% if not loop.last %}
        <div class="hr shadow mt2 mb2"></div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</section>