---
title: Post Archive
description: All articles published on this site.
layout: base.njk
permalink: /archive/index.html
---
<section class="container">
  <h1 class="sr-only">Archive</h1>
  {% for year, yearPosts in collections.postsByYear %}
    <h2 class="text-center text-dark {{ 'mt2' if not loop.first }}">&bull;&nbsp;{{ year }}&nbsp;&bull;</h2>
    <div class="hr shadow mb2"></div>
    {% for post in yearPosts | reverse %}
      {% include "post.preview.njk" %}
      {% if not loop.last %}
        <div class="hr shadow mt2 mb2"></div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</section>
