---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.feedTitle }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self" type="application/atom+xml" />
  <link href="{{ site.url }}" rel="alternate" type="text/html"/>
  <author>
    <name>{{ site.feedTitle }}</name>
  </author>
  {% if collections.blog %}
    <updated>{{ collections.blog | rssLastUpdatedDate }}</updated>
  {% endif %}
  <id>{{ site.url }}/</id>
  {%- for post in collections.blog | reverse -%}
    {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(site.url) }}{% endset %}
    <entry>
      <title>{{ post.data.title }}</title>
      {% for tag in post.data.tags | sort %}
        <category term="{{ tag }}" />
      {% endfor %}
      <link href="{{ absolutePostUrl }}"/>
      <updated>{{ post.date | rssDate }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content type="html"><![CDATA[
        {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | safe }}
      ]]></content>
    </entry>
  {%- endfor -%}
</feed>