---
title: Notes
parent: /notes/
permalink: /notes/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  {% include "feed.header.njk" %}
  {% if collections.notes %}
    <updated>{{ collections.notes | rssLastUpdatedDate }}</updated>
  {% endif %}
  <id>{{ site.url }}/</id>
  {%- for item in collections.notes | reverse -%}
    {% set absolutePostUrl %}{{ item.url | url | absoluteUrl(site.url) }}{% endset %}
    <entry>
      <title>{{ item.data.title }}</title>
      <link href="{{ absolutePostUrl }}"/>
      <updated>{{ item.date | rssDate }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content type="html"><![CDATA[
        {{ item.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | safe }}
      ]]></content>
    </entry>
  {%- endfor -%}
</feed>