---
permalink: humans.txt
eleventyExcludeFromCollections: true
---

## ttntm.me humans.txt ##

# Copyright (c) ttntm.
# https://humanstxt.org/

/* TEAM */

  Owner: Tom
  GitHub: @ttntm
  Email: ttntm@pm.me
  Location: Austria

/* THANKS */

  All the wonderful and inspiring people on the internet.

  Name: Nordtheme (color palette)
  Website: https://www.nordtheme.com

  Name: Tabler (icons)
  Website: https://tabler.io

  Name: unDraw (illustrations)
  Website: https://undraw.co

/* SITE */

  Last update: {% buildDate false %}
  Language: English
  Standards: HTML5, CSS3, JS, XML
  Components: 11ty, Node.js, PostCSS
  Software: VS Code
