---
isFront: true
layout: base.njk
---
<section class="container">
  <div class="flex flex-row justify-content-between align-items-center flex-wrap pb1 mb2">
    <div class="w25 w75m mx-auto">
      <img class="img-fluid circle shadow u-photo" src="/img/ttntm.webp" alt="An illustration showing Tom" width="100%">
    </div>
    <div class="w75 w100m p2">
      <h1 class="h2 text-darker">Hi, I'm Tom.</h1>
      <p class="h4 post m0 p-note">Welcome to my site, I hope you'll enjoy reading the articles 😎<br>
        You could also have a look at the things I did in <a href="/work">/work</a> or get to know more about me in <a href="/about">/about</a>.
      </p>
    </div>
  </div>
  <div class="flex flex-row justify-content-between align-items-center tight">
    <h2 class="h1 text-dark m0 p-name">Recent Posts</h2>
    <a href="/archive" class="d-inline-block regular text-dark hover-scale u-uid u-url" rel="feed" title="View all Posts">
      <svg xmlns="http://www.w3.org/2000/svg" class="d-block icon icon-tabler icon-tabler-circle-plus" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <circle cx="12" cy="12" r="9" />
        <line x1="9" y1="12" x2="15" y2="12" />
        <line x1="12" y1="9" x2="12" y2="15" />
      </svg>
    </a>
  </div>
  <div class="hr shadow mb2"></div>
  {%- for post in collections.blog | reverse -%}
    {% if loop.index <= 5 %}
      {% include "post.preview.njk" %}
      <div class="hr shadow mt2 mb2"></div>
    {% endif %}
  {%- endfor -%}
  <a href="/archive" class="d-inline-block btn">View Archive</a>
</section>