---
title: Homepage
isFront: true
isRegularPage: true
layout: base.njk
---
<section class="home mx-auto">
  <div class="home-intro">
    <h1 class="h2 tight-md m0">
      Tom's Homepage
    </h1>
    <div class="hr shadow mb2"></div>
    <p class="heading large text-justify-lg m0">
      &#128075; Hi there, I'm Tom, and this is my personal website. You can get to know a little more <a href="/about/">about me</a> here, find out what I'm doing right <a href="/now/">now</a>, and <a href="/sitemap/">explore</a> the various collections and pages on this website.
    </p>
  </div>
  <div class="home-posts">
    {% include "components/home.posts.njk" %}
  </div>
  <div class="home-pages">
    {% include "components/home.collections.njk" %}
  </div>
  <div class="home-feeds">
    {% include "components/home.feeds.njk" %}
  </div>
</section>
