---
title: Likes
description: Some cool things I found on the internet.
layout: base.njk
permalink: /likes/index.html
---
<section class="container h-feed text-center post">
  <h1 class="p-name">Likes</h1>
  <p>Some cool things I found on the internet.</p>
  <div class="hr shadow"></div>
  <div class="grid grid3 gap1 mt2">
    {% for item in collections.likes | reverse %}
      <a class="w100 u-url p-name d-block text-dark text-prim-hover shadow-md-hover no-underline px2 py1 mx-auto" href="{{ item.url }}" style="border: 1px solid var(--light);">
        <span class="d-block" style="margin-bottom: .5rem;">{{ item.data.title }}</span>
        <time class="d-block regular small">{{ item.data.published | date('MMM DD, YYYY') }}</time>
      </a>
    {% endfor %}
  </div>
</section>