---
title: Likes
description: Some cool things I found on the internet.
layout: base.njk
permalink: /likes/index.html
---
<section class="container h-feed text-center post">
  <h1 class="p-name">Likes</h1>
  <p>Some cool things I found on the internet.</p>
  <div class="hr shadow"></div>
  {% for item in collections.likes %}
    <div class="w100m w75 flex justify-content-between shadow-md-hover px2 py1 mb1 mx-auto" style="border: 1px solid var(--light)">
      <a href="{{ item.url }}" class="u-url p-name d-block">{{ item.data.title }}</a>
      <span>{{ item.data.published | date('MMMM DD, YYYY') }}</span>
    </div>
  {% endfor %}
</section>