---
title: All Tags
permalink: /tags/
layout: base.njk
eleventyExcludeFromCollections: true
---
<section class="container h-feed text-center">
  <h1 class="p-name tight m0">{{ title }}</h1>
  <div class="hr shadow mt1 mb2"></div>
  <ul class="list-reset grid grid3 gap1 post mt2">
    {% for tag in collections.blog | getCollectionTags | sort %}
      <li class="d-block">
        <a class="d-block w100 u-url p-name like-link shadow-md-hover no-underline px2 py1 mx-auto" href="/tags/{{ tag | slugify }}/" style="border: 1px solid var(--border);">
          <span>
            <span class="small">#</span>{{ tag }}
          </span>
        </a>
      </li>
    {% endfor %}
  </ul>
  <div class="hr shadow mt2 mb2"></div>
  <a href="/blog/" class="d-inline-block btn">View all Posts</a>
</section>
