---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - blog
    - likes
    - postsByYear
    - til
layout: base.njk
eleventyComputed:
  title: "Posts Tagged With '{{ tag }}'"
permalink: /tags/{{ tag | slugify }}/
eleventyExcludeFromCollections: true
---
<section class="container">
  <h1 class="h2 tight m0">{{ title }}</h1>
  <div class="hr shadow mb2"></div>
  {% for post in collections[ tag ] | reverse %}
    {% include "post.preview.njk" %}
    <div class="hr shadow mt2 mb2"></div>
  {% endfor %}
  <a href="/tags/" class="d-inline-block btn">View all Tags</a>
</section>
