---
title: Things I Did
description: Work samples of both client and side projects.
layout: page.njk
permalink: /work/index.html
eleventyExcludeFromCollections: true
---
<h2 class="text-center-xl mb1">Open Source</h2>
<section class="grid grid2 gap1 expand-xl mb2">
  {% for item in projects.personal %}
    {% include "work.item.njk" %}
  {% endfor %}
</section>
<p class="text-center mb2">...more can be found at <a href="https://codeberg.org/ttntm?tab=repositories&sort=alphabetically" target="_blank" rel="noopener">Codeberg</a> and <a href="https://github.com/ttntm?tab=repositories&q=&type=&language=&sort=stargazers" target="_blank" rel="noopener">GitHub</a>.</p>
<p class="text-center mb2">If you enjoy my open source work, please consider sponsoring me on <a href="https://github.com/sponsors/ttntm/" target="_blank" rel="noopener">GitHub Sponsors</a> or <a href="https://www.buymeacoffee.com/ttntm" target="_blank" rel="noopener">Buy Me a Coffee</a> to keep it sustainable.</p>
<h2 class="text-center-xl">Client Projects</h2>
<p class="text-center-xl">Too many over the years. <a href="mailto:ttntm@pm.me?subject=Client projects">Email me</a> if you're curious.</p>