{{ $til := .Site.GetPage "/til" }}
{{ $tilItems := $til.Resources.Match "items/*" }}
{{ range sort $tilItems ".Params.weight" "desc" }}
    <article class="mb2">
      <h2 class="h5">
        <span>
          <a id="{{ .Params.weight }}" href="#{{ .Params.weight }}" class="no-underline">#{{ .Params.weight }}</a>
        </span>
        &nbsp;
        {{ .Title }}
      </h2>
      <p class="small text-sec">Posted: {{ dateFormat (.Site.Params.DateForm) .Date }}</p>
      {{ .Content }}
    </article>
{{ end }}