    <div id="contact" class="col py-3">
        <div class="card shadow-sm">
            <div class="card-header text-center bg-dark text-light">
                <h3 class="">Contact Me</h3>
            </div>
            <div class="card-body align-self-center py-4">
                <ul class="list-square my-3">
                    <li><a href="javascript:linkTo_UnCryptMailto('nbjmup;uuounAqspuponbjm/dpn');">ttntm [at] protonmail [dot] com</a></li>
                    <li><a href="https://twitter.com/thet0m">https://twitter.com/thet0m</a></li>
                    <li><a href="https://www.linkedin.com/in/thomas-h-35773262/">https://www.linkedin.com/myProfile</a></li>
                    <li><a href="https://github.com/ttntm">https://github.com/ttntm</a></li>
                </ul>
            </div>
        </div>
    </div>