{{ range first 15 (where .Data.Pages "Section" "post") }}
			<li class="py-2">
				<h5 class="text-blue">
					{{ dateFormat (.Site.Params.DateForm) .Date }} <a href="{{ .Permalink }}" class="ml-3 lnk-underline">{{ .Title }}</a>
				</h5>
				<p class="pl-lg-3 text-secondary my-3">
					{{ .Params.description }}
				</p>
				<p class="pl-lg-3">
					{{ .Summary }} [...]
				</p>
				<p class="pl-lg-3 py-2">
					<a href="{{ .Permalink }}" class="btn btn-sm btn-outline-primary shadow-sm px-4">Read More...</a>
				</p>
			</li>
{{ end }}